<div class="container">
    <div class="subTitles">{{'LBL_SADAD_MOI_BILL_PAYMENT' | translate}}</div>
    <div class="refNO">
        {{'LBL_TRANSACTION_REF_NUM' | translate }} <b><span
                *ngIf="sadadMoiDetails && sadadMoiDetails.referenceNo">{{sadadMoiDetails.referenceNo}}</span><span
                *ngIf="!sadadMoiDetails || !sadadMoiDetails.referenceNo">--</span></b>
    </div>
    <div class="refNO">
        {{'LBL_AMOUNT' | translate }} <b><span
                *ngIf="sadadMoiDetails && sadadMoiDetails.paymentAmount && sadadMoiDetails.paymentCcy">{{sadadMoiDetails.paymentAmount
                | currencyFormat:sadadMoiDetails.paymentCcy}} {{sadadMoiDetails.paymentCcy}}</span><span
                *ngIf="!sadadMoiDetails ||( !sadadMoiDetails.paymentAmount && ! sadadMoiDetails.paymentCcy)">--</span></b>
    </div>
    <div class="title" *ngIf="sadadMoiDetails && sadadMoiDetails.odStatusCode">
        <button class="status-green-button" translate
            [class.status-red-button]="sadadMoiDetails.odStatusCode === 'RN' ||sadadMoiDetails.odStatusCode === 'RS' ||sadadMoiDetails.odStatusCode === 'RE' ||sadadMoiDetails.odStatusCode === 'RO' ||sadadMoiDetails.odStatusCode === 'RH'">
            {{sadadMoiDetails.odStatus}}
        </button>
        <!-- <div class="rejectreason" *ngIf="sadadMoiDetails.odStatusCode === 'RH'">
            <span class="bankreason">{{'LBL_BANK_REASON' | translate}}</span>
            <b><span *ngIf="sadadMoiDetails && sadadMoiDetails.bankReason">{{sadadMoiDetails.bankReason}}</span>
            <span *ngIf="!sadadMoiDetails || !sadadMoiDetails.bankReason">--</span></b>
          </div> -->
    </div>
    <div class="subContainer">
        <div class="fxContainer mt-top">
            <div class="column1">
                <label class="label" translate>LBL_BILLER_NAME</label>
                <div class="dataInfo" *ngIf="sadadMoiDetails && sadadMoiDetails.billerName">{{sadadMoiDetails.billerName}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiDetails || !sadadMoiDetails.billerName">--</div>
            </div>
            <div class="column2">
                <label class="label" translate>LBL_DEBIT_ACCOUNT_NUMBER</label>
                <div class="dataInfo" *ngIf="sadadMoiDetails && sadadMoiDetails.debitAccNo">{{sadadMoiDetails.debitAccNo}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiDetails || !sadadMoiDetails.debitAccNo">--</div>
            </div>
            <div class="column3">
                <label class="label" translate>LBL_SERVICE_TYPE</label>
                <div class="dataInfo" *ngIf="sadadMoiDetails && sadadMoiDetails.serviceType">{{sadadMoiDetails.serviceType}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiDetails || !sadadMoiDetails.serviceType">--</div>
            </div>
        </div>
        <div class="flexCntr">
            <div class="column">
                <label class="label" translate>LBL_VALUE_DATE</label>
                <div class="dataInfo" *ngIf="sadadMoiDetails && sadadMoiDetails.valueDate">{{sadadMoiDetails.valueDate | dateFormat}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiDetails || !sadadMoiDetails.valueDate">--</div>
            </div>
            <div class="column">
                <label class="label" translate>LBL_CUSTOMER_REFERENCE</label>
                <div class="dataInfo">{{ sadadMoiDetails?.customerReference ? sadadMoiDetails?.customerReference : "--"}}</div>
            </div>
            <div class="column">
                <label class="label" translate>LBL_PAYMENT_DETAILS</label>
                <div class="dataInfo">{{ sadadMoiDetails?.paymentDetails ? sadadMoiDetails?.paymentDetails : "--"}}</div>
            </div>
            <div class="column"  *ngFor="let dynamicValues of sadadMoiDynamicValues">
                <label class="label">{{dynamicValues.englishName}}</label>
                <div class="dataInfo" *ngIf="dynamicValues.value">{{dynamicValues.value}}</div>
                <div class="dataInfo" *ngIf="!dynamicValues.value">--</div>
            </div>
            <div class="column" *ngIf="((sadadMoiDetails && sadadMoiDetails.bankReason && sadadMoiDetails.bankReason !=='') || (rootScopeData.transactionInquiry && rootScopeData.transactionInquiry.rejectReason))  && (sadadMoiDetails &&(sadadMoiDetails.odStatusCode ==='RH' || sadadMoiDetails.odStatusCode ==='RO' || sadadMoiDetails.odStatusCode ==='RE' || sadadMoiDetails.odStatusCode ==='RN'))">
                <label class="label" translate>LBL_REJECTED_REASON</label>
                <div class="dataInfo">{{ sadadMoiDetails.bankReason ? sadadMoiDetails.bankReason:rootScopeData.transactionInquiry.rejectReason }}</div>
            </div>
        </div>
    </div>
</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>