<div>
  <div class="transactionCntr">
    <div class="ng-toolPanel">
        <div class="leftSide">
          <div *ngIf="enablePropertty"><app-selection (onMenuClick)="triggerDropdownFilter($event)"></app-selection></div>
          <div class="searchCntnrLeft" *ngIf="enablePropertty"><app-search  (searchParams)="advancedSearchApply($event)" [showAdvanceSearch]="true" (childEvent)="triggerSearchFilter($event)" [maxDate]="maxdate"></app-search></div>
        </div>
        <div class="rightSide dslk_flex">
            <div><app-refresh (onRefresh)="refreshSummary()"></app-refresh></div>
        </div>
    </div>
</div>
  <!-- <div class="refreshCntr actionHide"><app-refresh  [ngStyle]="{'top': norecordflag === true ? '0px' : '-48px'}"  (click)="refreshSummary()"></app-refresh></div> -->
  <div> 
    <table *ngIf="!norecordflag && responseHeader" id="downloadCenterInquiryTable" mat-table [dataSource]="dataSourceToPass" class="casaTable">

      <ng-container matColumnDef="nickName">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('criteriaType')" translate>LBL_ACCOUNTS
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'criteriaType'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'criteriaType'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="ellipsis">
          <span *ngIf="element.criteriaType">{{element.criteriaType}}</span>
          <span *ngIf="!element.criteriaType">--</span>
        </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('stmtStatus')" translate>LBL_STATUS
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'stmtStatus'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'stmtStatus'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="ellipsis">
          <span *ngIf="element.stmtStatus">{{element.stmtStatus}}</span>
          <span *ngIf="!element.stmtStatus">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="accNumber">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('statementPeriod')" translate>LBL_PERIOD
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'statementPeriod'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'statementPeriod'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="ellipsis period">
          <span *ngIf="element.statementPeriod">{{element.statementPeriod}}</span>
          <span *ngIf="!element.statementPeriod">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="COD_CORECIF">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">
          <!-- <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'statementPeriod'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'statementPeriod'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span> -->
        </th>
        <td mat-cell *matCellDef="let element" [style.display]="'none'"> 
          <div class="ellipsis">
          <span *ngIf="element.statementPeriod">{{element.COD_CORECIF}}</span>
          <span *ngIf="!element.statementPeriod">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('statFormat')" translate>LBL_TYPE
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'statFormat'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'statFormat'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell class="typeColumnAlign" *matCellDef="let element"> 
          <div class="ellipsis">
          <span *ngIf="element.statFormat">{{element.statFormat}}</span>
          <span *ngIf="!element.statFormat">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('txnRefNo')" translate>LBL_REFERENCE_NO
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'txnRefNo'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'txnRefNo'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="ellipsis">
          <span *ngIf="element.txnRefNo">{{element.txnRefNo}}</span>
          <span *ngIf="!element.txnRefNo">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="accBalance">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('reqDateTime')" translate>LBL_REQUEST_DATE
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'reqDateTime'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'reqDateTime'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="ellipsis">
          <span *ngIf="element.reqDateTime">{{element.reqDateTime |dateFormat}}</span>
          <span *ngIf="!element.reqDateTime">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="equivalentAmt">
        <th mat-header-cell *matHeaderCellDef (click)="sortColumn('totalNumber')" translate>LBL_COUNT
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'totalNumber'">
            <img src="assets/images/sortDown.svg" class="img-style">
            <img src="assets/images/sortDown.svg" class="sortUp">
          </span>
          <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'totalNumber'">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'"
                class="img-style">
            <img src="assets/images/sortDown.svg"
                *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
                class="sortUpAscending">
          </span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="ellipsis">
          <span *ngIf="element.totalNumber">{{element.totalNumber}}</span>
          <span *ngIf="!element.totalNumber">--</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="actionHide" translate>LBL_ACTION</th>
        <td mat-cell *matCellDef="let element" class="actionHide">
          <div id="download_{{element.txnRefNo}}" *ngIf="element.localeStatus === 'RG'">
            <div class="actionIcon" (click)="downloadStatements(element)"></div>
            <app-ajax-loader-small class="spinner"></app-ajax-loader-small>
          <!-- <a target="_self" href="{{downloadUrlBasePath}}?moduleId=EXPORTSTMNT&exportFormat={{element.statFormat}}&reqId={{element.txnRefNo}}&filePath={{element.zipPath}}&simulate=N&statementPeriod={{element.statementPeriod}}&_dinsess={{rootScopeData.userInfo._cpReqToken}}" class="actionIcon"></a> -->
          </div>                
          <div *ngIf="element.localeStatus !== 'RG'">
             <button  class="actionIcon" disabled></button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="norecordflag">
    <app-no-record-found [noRecordFoundInfo]="noRecordFoundInfoObj"></app-no-record-found>
  </div>
  <div *ngIf="enablePropertty">  <app-pagination #paginator class="actionHide" [dataSourceLength]="dataSourceLength" [currentRecord]="'Statements'"
    [totalRecords]="totalRecords" (onPaginationChange)="paginationChangeClick($event)"></app-pagination></div>

</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>