.mTop_18 {
    position: relative;
    padding-top: 18px;
}

.advSearch {
    margin-left: 15px;
}

.rightPanel {
    text-align: right;
}

.alignRightPanel {
    display: inline-flex;
}

@media print {
    #logoPrint {
        display: block;
    }

    div.divFooter {
        position: fixed;
        bottom: 0;
        font-family: "HelveticaNeueMed" !important;
        margin-left: 35%;
    }

    .subTitleConatiner .listInactive,
    .actionsConatiner {
        display: none;
    }

    .subTitleConatiner .listActive {
        border-bottom: none !important;
    }
}

.casaTable {
    width: 100%;
    background-color: var(--primary-widget-bg-color);
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border: none !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 5px;
}

::ng-deep .mat-tooltip {
    width: 186px;
    min-height: 20px;
    padding: 5px;
    background-color: var(--tooltip-background-color);
    background-size: cover;
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-size: 12px;
    color: var(--primary-widget-bg-color);
    line-height: 16px;
    z-index: 1;
    position: absolute;
    top: 5px;
    left: -4px;
    border-radius: 4px;
}

::ng-deep .mat-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background-color) transparent transparent transparent;
}

::ng-deep .mat-tooltip {
    display: inline;
    position: relative;
}