<div class="parentDiv" id="posFinanceTicketInquirySummaryPrintSection">
    <div class="row" id="logoPrint">
        <div><img class="logo" src="{{logo}}"> </div>
        <div class="divFooter" translate>LBL_PRINT_FOOTER_CONTENT_1</div>
    </div>
    <div class="mainTitle cusTitle">
        <div class="backIcon backArrow" routerLink="/ticketInquiry/inquiry"></div>
        <span translate>LBL_TICKET_INQUIRY_SUMMARY</span>
    </div>
    <div class="summarytools">
        <app-summary-tools [printSection]="printSection" [moduleId]="''"></app-summary-tools>
    </div>
    <div class="container">
        <div class="fileDetails">
            <div class="title bold">
                {{"LBL_ECORP_GENERAL_ISSUE" | translate}} {{"LBL_FROM" | translate}} {{ecorpGeneralIssueTicketInquirySummaryDetails.name ? ecorpGeneralIssueTicketInquirySummaryDetails.name : '--'}}, {{ecorpGeneralIssueTicketInquirySummaryDetails.accNo ? ecorpGeneralIssueTicketInquirySummaryDetails.accNo : '--'}}
            </div>
            <div class="title">
                {{"LBL_TRANSACTION_REF_NUM" | translate}}:
                &nbsp;{{ecorpGeneralIssueTicketInquirySummaryDetails.refNo ? ecorpGeneralIssueTicketInquirySummaryDetails.refNo : '--'}}
            </div>
            <div class="title">
                {{"LBL_ON" | translate}}
                {{ecorpGeneralIssueTicketInquirySummaryDetails.date ? ecorpGeneralIssueTicketInquirySummaryDetails.date : '--'}}
                <div class="pad_l_60">
                    <button class="status-red-button statusButton" translate>
                        {{ecorpGeneralIssueTicketInquirySummaryDetails.status}}
                    </button>
                </div>
            </div>
        </div>

        <div class="cardDetailsContainer">
            <div class="subContainer">
                <div class="subTitles" translate>LBL_REQUEST_DETAILS</div>
                <div class="rowInnerCntr">
                    <div class="field">
                        <div class="label" translate>LBL_MOBILE_NUMBER</div>
                        <div class="information">
                            {{ecorpGeneralIssueTicketInquirySummaryDetails.mobileNo ? ecorpGeneralIssueTicketInquirySummaryDetails.mobileNo : '--'}}
                        </div>
                    </div>
                    <div class="field fileName">
                        <div class="label" translate>LBL_FILE_NAME</div>
                        <div class="information ellipse">
                            {{ecorpGeneralIssueTicketInquirySummaryDetails.fileName ? ecorpGeneralIssueTicketInquirySummaryDetails.fileName : '--'}}
                        </div>
                        <div class="downloadIcon">
                            <app-uploaded-file-download *ngIf="ecorpGeneralIssueTicketInquirySummaryDetails.fileName"
                            [fileUploadedDetails]="fileUploadedDetails">
                            </app-uploaded-file-download>
                        </div>
                    </div>
                    <div class="field">
                        <div class="label" translate>LBL_SOURCE</div>
                        <div class="information">
                            {{ecorpGeneralIssueTicketInquirySummaryDetails.source ? ecorpGeneralIssueTicketInquirySummaryDetails.source : '--'}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="label" translate>LBL_CLAIM_DESCRIPTION</div>
                        <div class="information">
                            {{ecorpGeneralIssueTicketInquirySummaryDetails.claimDesc ? ecorpGeneralIssueTicketInquirySummaryDetails.claimDesc : 'LBL_NOT_PROVIDED' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        
    </div>

    <section class="summaryOuterConainer">
        <div class="summaryConainer">
            <app-history [historyData]="workFlowHistoryParams"></app-history>
        </div>
    </section>

    <div class="btnGroup mtop_20">
        <div class="btnContainer">
            <app-tertiary-button buttonValue="LBL_BACK" routerLink="/ticketInquiry/inquiry"></app-tertiary-button>
        </div>
    </div>
</div>
<app-ajax-loader [hidden]="isLoadingComplete"></app-ajax-loader>