<div class="outerContainer">

  <div class="subTitles" translate>LBL_POS_SUMMARY</div>

  <app-postransaction-details></app-postransaction-details>

  <div class="actionGroup btnCntr">

    <button class="button-secondary backButton" routerLink="/mytask/posTransaction" translate>
      LBL_BACK
    </button>

    <button class="button-print-secondary" (click)="rejectScreen()" translate>
      LBL_REJECT
    </button>

    <button class="button-print-secondary" (click)="authorizeScreen()" translate>
      LBL_AUTHORIZE
    </button>

  </div>

</div>