<div class="mainContainer">
    <div translate class="title">LBL_TRANSACTION_INQUIRY</div>
    <div class="subContainer" id="transactionInquiryPrintSection">
        <div class="row" id="logoPrint">
            <div><img class="logo" src="{{logo}}"> </div>
            <!-- <div><span class="logotext" translate>LBL_ECORP</span></div> -->
            <div class="divFooter" translate>LBL_PRINT_FOOTER_CONTENT_1</div>
        </div>
        <div class="titleIcons">
           <div class="gridline01">
               <div class="accountIcon"></div><div translate class="subTitles">LBL_TRANSFERS</div>
            </div>
            <div class="gridline02">
               <div class="summarytools"><app-summary-tools [printSection]="printSection"  [moduleId]=rootScopeData.accountsActiveModule [isshowndownloadablePrint]="isShownDocPrint" [isshownPrint]="shownPrint"></app-summary-tools></div>           
            </div> 
        </div>
        <div class="mtop_20 subTitleConatiner">
            <ul class="titleList">
                <!-- chintha told to remove ngIF count validation  11-03-2023-->
                <li *ngIf="rootScopeData.userEntitlements.tabs.SINGLE_TRANSFER_INQ" routerLink="./singleTransfer" class="animate" [ngClass]="this.rootScopeData.activeTabName=='singleTransfer' ? 'listActive':'listInactive'"><a translate>LBL_SINGLE_TRANSFER <span *ngIf="rootScopeData.singleTransferSummaryCount" class="actionHide">({{rootScopeData.singleTransferSummaryCount}})</span></a></li>
                <li *ngIf="rootScopeData.userEntitlements.tabs.BULK_TRANSFER_INQ" routerLink="./bulkTransfer" class="animate" [ngClass]="this.rootScopeData.activeTabName=='bulkTransfer' ? 'listActive':'listInactive'"><a translate>LBL_FILE_TRANSFER <span *ngIf="rootScopeData.bulkTransferSummaryCount" class="actionHide">({{rootScopeData.bulkTransferSummaryCount}})</span></a></li>    
                <li *ngIf="rootScopeData.userEntitlements.tabs.STANDING_ORDER_INQ" routerLink="./standingOrder" class="animate" [ngClass]="this.rootScopeData.activeTabName=='standingOrder' ? 'listActive':'listInactive'"><a translate>LBL_STANDING_ORDER <span *ngIf="rootScopeData.standingOrderSummaryCount" class="actionHide">({{rootScopeData.standingOrderSummaryCount}})</span></a></li>    
                <li *ngIf="rootScopeData.userEntitlements.tabs.SADAD_TRANSFER_INQ" routerLink="./sadadTransfer" class="animate" [ngClass]="this.rootScopeData.activeTabName=='sadadTransfer' ? 'listActive':'listInactive'"><a translate>LBL_SADAD <span *ngIf="rootScopeData.sadadSummaryCount"  class="actionHide">({{rootScopeData.sadadSummaryCount}})</span></a></li>    
                <li *ngIf="rootScopeData.userEntitlements.tabs.ARAMCO_TRANSFER_INQ" routerLink="./aramcoTransfer" class="animate" [ngClass]="this.rootScopeData.activeTabName=='aramcoTransfer' ? 'listActive':'listInactive'"><a translate>LBL_ARAMCO <span *ngIf="rootScopeData.aramcoSummaryCount" class="actionHide">({{rootScopeData.aramcoSummaryCount}})</span></a></li>    
                <li *ngIf="rootScopeData.userEntitlements.tabs.PAYROLL_INQ" routerLink="./payroll" class="animate" [ngClass]="this.rootScopeData.activeTabName=='payroll' ? 'listActive':'listInactive'"><a translate>LBL_PAYROLL <span class="actionHide"></span></a></li>    
                <li *ngIf="rootScopeData.userEntitlements.tabs.DIVIDENDS_INQ" routerLink="./dividends" class="animate" [ngClass]="this.rootScopeData.activeTabName=='dividends' ? 'listActive':'listInactive'"><a translate>LBL_DIVIDENDS <span class="actionHide"></span></a></li>    
            </ul>
        </div>
        <div class="mTop_18">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>
