.filter-search-popup {
    width: 660px;
    padding: 20px 20px 20px 20px;
    border: 1px solid var(--overlaypopup-margin);
    border-radius: 5px;
    background-color: var(--advance-filter-bg-color);
    color: #565656;
    text-decoration: none;
    line-height: 18px;
    position: absolute;
    left: -320px;
    top: 46px;
    z-index: 1;
}
.header {
    font-family: 'HelveticaNeueMed', Arial, sans-serif;
    margin-bottom: -24px;
    font-size: 16px;
    color: var(--tableData-header-color);
}
.submt {
    display: flex;
    float: right;
    position: relative;
    margin-top: 30px;
}
.clr {
    border-radius: 100px;
    text-align: center;
    padding: 5px 8px;
    background-color: rgb(217, 221, 224);
    color:var(--announcement-fontColor);
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.apply {
    background-color: var(--short-profile-txt-color);
    text-align: center;
    border-radius: 100px;
    border-color: var(--short-profile-txt-color);
    border: none;
    text-align: center;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}
.flexCntr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // > div {
    //     width: 50%;
    // }
}
.searchwithin{
    margin-right: 10px;
    margin-top: 53px;
}
.box{
    margin-right: 10px;
}
.fieldLabel {
    color: #a2a2a2;
    font-family: 'HelveticaNeueMed', Arial, sans-serif;
    margin-top: 10px;
    font-size: 14px;
}
.selectInput {
    width: 250px;
    line-height: 40px;
    padding: 0px 0px 0px 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 14px;
    color: var(--input-text-color);
    cursor: pointer;
    margin-top: 10px;
    background-color: var(--primary-widget-bg-color);
}

.txt-fld{
    width: 288px;
    line-height: 40px;
    padding: 0px 0px 0px 10px;
    // border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid var(--widget-border-color);
    background-color: var(--primary-widget-bg-color);
    color: var(--primary-fontColor);
}
.mtop_5{
    margin-top: 5px;
}
.apply:hover{
    background-color: var(--primary-btn-hover-color);
}
.clr:hover {
    background-color: var(--button-secondory-hover);
}
.close-icon {
    float: right;
    cursor: pointer;
  }
  button{
    font-family: "HelveticaNeue", arial, sans-serif;
  }

  .mt-top {
    margin-top: 10px
}

.flexCntr > div {
    width: 50%;
}
.invoiceNo{
    margin-top: 20px;
  }
  .dateFrom{
    display: flex;
}
.fromto{
    display: flex;
    column-gap: 18px;
}
.datefrom input,.dateto input{width: 123px !important;
    height: 40px;
    padding: 0px 8px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    margin:0px;
    color: var(--tableData-header-color);
    background-color: var(--primary-widget-bg-color);
}