.outerContainer {
  margin-left: 30px;
  margin-right: 30px;
}

.title {

  padding: 0px 0px 0px 5px;
  background-size: cover;
  font-size: 18px;
  color: var(--tableData-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
}

.accountDetails {
  padding: 15px 15px 50px 15px;
  margin-top: 15px;
  border: 1px solid var(--widget-border-color);
  border-radius: 10px;
  background-color: var(--primary-widget-bg-color);
  background-size: cover;
  font-size: 14px;
  color: var(--tableData-header-color);
}

// .subTitles {
//   margin: 20px 0px 15px 20px;

// }
.details {
  padding: 20px 0px 20px 15px;
  background-size: cover;
  font-size: 15px;
  color: var(--tableData-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
}

.commericialContainer {
  margin-left: 20px;
}

.selectInput {
  // margin-bottom: 10px;
  min-width: 300px;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--tableData-header-color);
  cursor: auto;
  background-color: var(--primary-widget-bg-color);
}

.flex {
  display: flex;
}

.actionGroup {
  float: right;
  margin-right: 23px;
}

.merchnatContainer {
  margin-bottom: 30px;
}

.btnContainer {
  float: right;
  margin-top: 25px;
}

.matSelectInput {
  margin-bottom: 10px;
  width: 300px;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--tableData-header-color);
  cursor: auto;
  background-color: var(--primary-widget-bg-color);
}

.m-top {
  margin-top: 10px;
}

.tableHeader {
  color: var(--secondary-font-color);
  background-size: cover;
  font-family: "HelveticaNeue", arial, sans-serif;
  font-size: 14px
}

.tableRowConatiner {
  background-color: var(--summary-hover-color);
  font-size: 14px;
  font-family: "HelveticaNeueMed", arial, sans-serif;
  border-radius: 10px;

}

.downArrowAcc {
  background: url(../../../../assets/images/iconDownGreen.svg) no-repeat center;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s transform;
  margin-top: 6px;
  margin-left: -26px;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th,
td {
  padding: 8px;
  text-align: left;
}

td:first-of-type {
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

td:last-of-type {
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

.headerColor {
  font-size: 14px;
  color: var(--table-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
}