.mtop_20 {
  margin-top: 20px;
}

.geneStaTitles {
  color: var(--table-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
  font-size: 14px;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.flexWidth {
  width: 300px;
  padding-bottom: 20px;
  color: var(--default-text-color);
}

.mbot_4 {
  margin-bottom: 4px;
}

.mtop_17 {
  margin-top: 17px;
}

.selectInput {
  width: 300px;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid var(--widget-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--tableData-header-color);
  cursor: pointer;
  background-color: var(--primary-widget-bg-color);
}

.mat-option {
  padding: 5px;
  border-left: 1px solid var(--widget-border-color);
  border-right: 1px solid var(--widget-border-color);
  border-bottom: 1px solid var(--widget-border-color);
  line-height: 40px !important;
}

.comment {
  width: 307px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid var(--widget-border-color);
  font-size: 14px;
}

.comment:focus {
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--widget-border-color);
}

.datePickerInput {
  width: 300px;
  height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid var(--widget-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--tableData-header-color);
  background-color: var(--primary-widget-bg-color);
}

.container {
  position: relative;
}

.datePicker {
  position: absolute;
  top: 1px;
  right: 30px !important;
}

.pbot_20 {
  padding-bottom: 20px;
  color: var(--default-text-color);
}
.mat-option.mat-active {
  color: var(--default-text-color);
}
.pbot_21 {
  color: var(--default-text-color);
  margin-top: 20px;
}
.pbop_20{
  margin-top: 30px;
}