.mtop_20 {
  margin-top: 20px;
}

.geneStaTitles {
  color: var(--table-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
  font-size: 14px;
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 24px);
}

.flexWidth {
  width: 300px;
  padding-bottom: 20px;
}

.mbot_4 {
  margin-bottom: 4px;
}

.mtop_17 {
  margin-top: 17px;
}

.selectInput {
  width: 300px;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--input-text-color);
  cursor: pointer;
}

.mat-option {
  padding: 5px;
  border-left: 1px solid var(--widget-border-color);
  border-right: 1px solid var(--widget-border-color);
  border-bottom: 1px solid var(--widget-border-color);
  line-height: 40px !important;
}

.comment {
  width: 307px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  font-size: 14px;
}

.comment:focus {
  outline: none;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.datePickerInput {
  width: 300px;
  height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid #d9dde0;
  border-radius: 5px;
  font-size: 14px;
  color: #656565;
}

.container {
  position: relative;
}

.pbot_20 {
  padding-bottom: 20px;
}
