<div class="mainContainer">
  <div class="flexRow">
    <div class="title" *ngIf="rootScopeData.changeHeading">
      <span class="toggleLable">{{
        rootScopeData.changeHeading | translate
      }}</span>
    </div>
  </div>
  <div *ngIf="!rootScopeData.hideTabs">
    <div class="subContainer">
      <div class="paymentToggels">
        <div
          *ngFor="let transferType of transferTypes"
          class="toggle"
          (click)="routeToTable(transferType)"
          [class.active]="
            rootScopeData.paymentActiveTabName == transferType.subPdtCode">
          <span class="toggleLable" translate>{{ transferType.lbl }}</span>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="rootScopeData.hideTabs && rootScopeData.changeHeading"
    class="paymentName"
  >
    <span translate>LBL_{{ rootScopeData.paymentActiveTabName }}</span>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
