<div
  class="filter-search-popup"
  *ngIf="showAdvancedSearchPopup"
  (click)="stopAdvancedSearchClose($event)"
>
  <div translate class="header">LBL_FILTER
    <img src="assets/images/closeIcon.svg" class="close-icon" mat-dialog-close (click)="closeFilter($event)">
  </div>
  <div class="flexCntr">
    <div class="toggleCntr">
      <div
        translate
        id="leftToggle"
        class="toggle"
        [class.active]="leftToggle"
        (click)="leftToggleCntl()"
      >
        LBL_BY_DATE
      </div>
      <div
        translate
        id="rightToggle"
        class="toggle"
        [class.active]="rightToggle"
        (click)="rightToggleCntl()"
      >
        LBL_BY_PERIOD
      </div>
    </div>

    <div class="fromto" *ngIf="leftToggle">
      <div class="datefrom">
        <div translate class="fieldLabel" id="proctm">LBL_DATE_FROM</div>
        <div class="shortDatePicker mt-top">
          <app-date-picker
            [clearFlag]="clearFlag"
            [showDateErrorMessage]="showDateErrorMessage"
            (dateValue)="getFromDate($event)"
            [newDate]="fromDateValue"
          ></app-date-picker>
        </div>
      </div>
      <div class="dateto">
        <div translate class="fieldLabel" id="proctm">LBL_TO</div>
        <div class="shortDatePicker mt-top">
          <app-date-picker
            [clearFlag]="clearFlag"
            [showDateErrorMessage]="showDateErrorMessage"
            (dateValue)="getToDate($event)"
            [minDate]="fromDateValue"
            [newDate]="toDateValue"
          ></app-date-picker>
        </div>
      </div>
    </div>

    <div class="period" *ngIf="rightToggle && !leftToggle">
      <div translate class="fieldLabel">LBL_PERIOD</div>
      <mat-select
        panelClass="dropDownOption"
        class="selectInput"
        [(value)]="period"
        disableOptionCentering
      >
        <mat-option value="all">{{ "LBL_ALL" | translate }}</mat-option>
        <mat-option value="monthly">{{ "LBL_MONTHLY" | translate }}</mat-option>
        <mat-option value="quarterly">{{
          "LBL_QUARTERLY" | translate
        }}</mat-option>
        <mat-option value="yearly">{{ "LBL_YEARLY" | translate }}</mat-option>
      </mat-select>
    </div>

    <div class="period">
      <div class="fieldLabel" translate>LBL_SERVICE_TYPE</div>
      <!-- <mat-select panelClass="dropDownOption" class="selectInput" [(value)]="serviceType" disableOptionCentering>
                <mat-option value="reissueCard">{{'LBL_RE_ISSUE_CARD' | translate}}</mat-option>
            </mat-select> -->

      <mat-select
        panelClass="dropDownOption"
        disableOptionCentering
        class="selectInput"
        [(ngModel)]="serviceType"
        placeholder="{{ 'LBL_CHOOSE_AN_SELECT_OPTION' | translate }}"
        name="currency"
      >
        <mat-option
          *ngFor="let item of serviceTypeList"
          [value]="item.serviceType"
          >{{ item.serviceType }}
        </mat-option>
      </mat-select>
    </div>

    <div class="dateorder">
      <div class="fieldLabel" translate>LBL_DATE_ORDER</div>
      <mat-select
        panelClass="dropDownOption"
        class="selectInput"
        [(value)]="dateTime"
        disableOptionCentering
      >
        <mat-option value="desc">{{ "LBL_DESCENDING" | translate }}</mat-option>
        <mat-option value="asc">{{ "LBL_ASCENDING" | translate }}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="submt">
    <div>
      <!-- <button class="clr" (click)="onClickClear()" translate>LBL_CLEAR</button> -->
      <app-tertiary-button buttonValue="LBL_CLEAR" (click)="onClickClear()"></app-tertiary-button>
    </div>
    <div>
      <!-- <button class="apply" (click)="onClickApply()" translate>
        LBL_APPLY
      </button> -->
      <app-primary-button (click)="onClickApply()" buttonValue="LBL_APPLY"></app-primary-button>
    </div>
  </div>
</div>
