.generateStatementContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 24px);
  margin: 20px 0px 0px 10px;
  column-gap: 30px;
}

.mtop_20 {
  margin-top: 20px;
}

.geneStaTitles {
  color: var(--table-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
  font-size: 14px;
}

.selectInput {
  width: 300px;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  border: 1px solid var(--widget-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--input-text-color);
  cursor: pointer;
}

.btnGroup {
  float: right;
  display: flex;
}

.required {
  margin-left: 6px;
}

.mat-option {
  padding: 5px;
  border-left: 1px solid var(--widget-border-color);
  border-right: 1px solid var(--widget-border-color);
  border-bottom: 1px solid var(--widget-border-color);
  line-height: 40px !important;
  color: var(--default-text-color);
}

.mat-option.mat-active {
  background: none;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: none;
}

.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled):hover {
  background-color: var(--summary-hover-color) !important;
}

.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
  background: none;
}

.mat-option-text.mat-option {
  font-family: "HelveticaNeue", arial, sans-serif !important;
}

.mat-select-panel {
  height: 125px !important;
}

.errorMsgBottomMargin{
  margin-top: 25px;
  text-align: center;
  font-size: 12px;
}
.information {
  position: relative;
  .dropdownIcon {
    position: absolute;
    right: 0px;
    background-position: -153px -346px;
    width: 20px;
    height: 16px;
    margin: 7px 10px;
    float: right;
  }
} 
