<div class="worksapceBase">
    <div class="content-header" translate>LBL_SADAD</div>

    <div class="tabCntr">
        <ul>
            <li *ngIf="rootScopeData.userEntitlements.tabs.MYTASK_SADAD_SINGLE_PAYMENT"><a  routerLink="sadadsinglepayment" [class.active]="rootScopeData.activeTabName === 'singlepayments'"><span
                        translate>LBL_SINGLE_PAYMENT</span>
                        <span *ngIf="rootScopeData.myTaskSadadPaymentCount">
                            ({{rootScopeData.myTaskSadadPaymentCount}})
                        </span>
                    </a></li>
            <li *ngIf="rootScopeData.userEntitlements.tabs.MYTASK_SADAD_FILE_PAYMENT"><a routerLink="sadadfilepayment"
                    [class.active]="rootScopeData.activeTabName === 'filepayment'"><span
                        translate>LBL_FILE_PAYMENT</span>
                        <span *ngIf="rootScopeData.myTaskSadadFilePaymentCount">
                            ({{rootScopeData.myTaskSadadFilePaymentCount}})
                        </span>
                    </a></li>
        </ul>
    </div>
    <div class="tabDataCntr">
        <router-outlet></router-outlet>
    </div>
</div>