.mtop_20 {
  margin-top: 20px;
}

.mainContainer {
  margin: 0px 20px 0px 20px;
}

.btnGroup {
  float: right;
  display: flex;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: var(--secondary-btn-bg-color);
}
