.parentDiv {
    margin-top: -26px;
}

.mainTitle {
    margin: 0px 0px 0px 31px;
}

.btnGroup {
    float: right;
    display: flex;
    margin-right: 30px;
}

.mtop_20 {
    margin-top: 20px;
}

.backArrow {
    top: 4px;
}

.container {
    padding: 16px 0 14px 18px;
    border-radius: 10px;
    background-size: cover;
    font-size: 14px;
    margin: 5px 30px 0px 30px;
    border: 1px solid var(--widget-border-color);
    background-color: var(--primary-widget-bg-color);
    color: var(--tableData-header-color);
}

.title {
    padding-top: 10px;
    display: flex;
}

.subContainer {
    border-radius: 10px;
    background: var(--summary-row-bg-color);
    margin: 20px 30px 10px 0;
    padding: 12px 0 10px 18px;
}

.rowInnerCntr {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3px;
    padding-top: 14px;
    width: 100%;

    .field {
        width: 33.33%;
        padding-bottom: 20px;

        .label {
            font-family: "HelveticaNeueMed", arial, sans-serif;
            color: var(--table-header-color);
            font-size: 14px;
            padding-top: 10px;
        }

        .label-content {
            font-family: "HelveticaNeue";
            font-size: 14px;
            color: var(--tableData-header-color);
            text-decoration: none solid var(--text-decoration-color);
        }

        .information {
            padding-top: 10px;
            color: var(--input-text-color);
            font-size: 14px;

            &.data {
                font-size: 12px;
            }

            span {
                display: block;
            }
        }
    }
}

.right_align {
    position: relative;
    right: 10px;
}

.mtop_10 {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

.pad_l_10 {
    padding-left: 10px;
}

.pad_20 {
    padding-top: 20px;
}

.summaryOuterConainer {
    .summaryConainer {
        margin-right: 30px;
        margin-top: 20px;
        margin-left: 30px;
    }
}

.rejectReasonContainer {
    margin-left: 20px;
    margin-top: 33px;
}

.rejectHead {
    font-family: "HelveticaNeueMed" !important;
    color: var(--table-header-color);
    font-size: 14px;
}

.rejectTextarea {
    margin-top: 10px !important;

    textarea {
        background-color: var(--primary-widget-bg-color);
        color: var(--default-text-color);
        width: 300px;
        height: 80px;
        border: 1px solid var(--widget-border-color);
        resize: none;
        border-radius: 5px;
        outline: none;
    }
    .errorMsg {
        padding-bottom: 15px;
    }
}