.outerContainer {
    margin-left: 30px;
    margin-right: 30px;
  }
.title {
    width: 280px;
    height: 30px;
    padding: 0px 0px 0px 5px;
    background-size: cover;
    font-size: 18px;
    color: var(--tableData-header-color);
    font-family: "HelveticaNeueMed", arial, sans-serif;
  }
  .accountDetails {
    padding: 15px;
    border: 1px solid var(--widget-border-color);
    border-radius: 10px;
    background-color: var(--primary-widget-bg-color);
    background-size: cover;
    font-size: 14px;
    color: var(--tableData-header-color);
  }
  .subTitles {
    margin-bottom: 15px;
  }
  .footerText {
    margin-top: 45px;
  
    display: inline-block;
    font-family: "HelveticaNeue",arial,sans-serif;
    font-size: 14px;
    color: var(--tableData-header-color);
    .termsContainer{
      cursor: pointer;
        font-size: 14px;
        font-family: "HelveticaNeue",arial,sans-serif;
      color: var(--short-profile-txt-color);
    }
    a {
      text-decoration: none;
      color: var(--secondary-btn-bg-color);
    }
  }
  .btnContainer {
    float: right;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: -30px;
   
}
.amount{
  margin-top: 10px;
}
