.actionIcon{
    background: url(../../../../assets/images/delete.svg) no-repeat center;
    width: 24px;
    height: 24px;
    // display: inline-block;
    margin: auto;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 5px;
}
.col-msg{width: 25%}
.col-date{width:35%}
.transtype{width:40%}
th.mat-header-cell{
    cursor: pointer;
}