<div class="actionsConatiner">
  <div class="leftPannel">
    <div class="searchCntnrLeft">
      <app-search (childEvent)="triggerSearchFilter($event)"></app-search>
    </div>
  </div>
  <div>
    <app-refresh (onRefresh)="refreshSummary()"></app-refresh>
  </div>
</div>

<!-- Reference table -->
<div class="tableContainer">
  <table mat-table [dataSource]="dataSource" class="casaTable"
    *ngIf="!noRecordFlag && bulkSource.length > 0">

    <!-- Reference Number Column -->
    <ng-container matColumnDef="d_ref_no">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('d_ref_no')" translate>
        LBL_REF_NUMBER

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn !== 'd_ref_no'
      ">
          <img src="assets/images/sortDown.svg" class="img-style" />
          <img src="assets/images/sortDown.svg" class="sortUp" />
        </span>

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn === 'd_ref_no'
      ">
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'desc'
        " class="img-style" />
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'asc'
        " class="sortUpAscending" />
        </span>

      </th>
      <td mat-cell (click)="toggleChild(element)" *matCellDef="let element">
        {{ element?.d_ref_no ? element.d_ref_no : "--" }}
      </td>
    </ng-container>

    <!-- Upload Type Column -->
    <ng-container matColumnDef="upload_type">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('upload_type')" translate>
        LBL_TYPE

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn !== 'upload_type'
      ">
          <img src="assets/images/sortDown.svg" class="img-style" />
          <img src="assets/images/sortDown.svg" class="sortUp" />
        </span>
        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn === 'upload_type'
      ">
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'desc'
        " class="img-style" />
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'asc'
        " class="sortUpAscending" />
        </span>

      </th>
      <td mat-cell (click)="toggleChild(element)" *matCellDef="let element">
        {{ element?.upload_type ? element.upload_type : "--" }}
      </td>
    </ng-container>

    <!-- File Format Column -->
    <ng-container matColumnDef="lang_id">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('lang_id')" translate>
        LBL_FORMAT

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn !== 'lang_id'
      ">
          <img src="assets/images/sortDown.svg" class="img-style" />
          <img src="assets/images/sortDown.svg" class="sortUp" />
        </span>
        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn === 'lang_id'
      ">
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'desc'
        " class="img-style" />
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'asc'
        " class="sortUpAscending" />
        </span>

      </th>
      <td mat-cell (click)="toggleChild(element)" *matCellDef="let element">
        {{ element?.fileFormat ? ( element.fileFormat | uppercase ) : "--" }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('status')" translate>
        LBL_STATUS

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn !== 'status'
      ">
          <img src="assets/images/sortDown.svg" class="img-style" />
          <img src="assets/images/sortDown.svg" class="sortUp" />
        </span>
        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn === 'status'
      ">
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'desc'
        " class="img-style" />
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'asc'
        " class="sortUpAscending" />
        </span>

      </th>
      <td mat-cell (click)="toggleChild(element)" *matCellDef="let element">
        {{ element?.status ? element.status : "--" }}
      </td>
    </ng-container>

    <!-- Total Amount Column -->
    <ng-container matColumnDef="file_amount">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('file_amount')" translate>
        LBL_TOTAL_AMOUNT

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn !== 'file_amount'
      ">
          <img src="assets/images/sortDown.svg" class="img-style" />
          <img src="assets/images/sortDown.svg" class="sortUp" />
        </span>
        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn === 'file_amount'
      ">
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'desc'
        " class="img-style" />
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'asc'
        " class="sortUpAscending" />
        </span>

      </th>
      <td mat-cell (click)="toggleChild(element)" *matCellDef="let element">
        {{ element?.file_amount ? (element.file_amount | currencyFormat:element?.currency) + ' ' + (element.currency ?? "") : "--" }}
      </td>
    </ng-container>

    <!-- Fee Amount Column -->
    <ng-container matColumnDef="feeAmount">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('feeAmount')" translate>
        LBL_FEE

        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn !== 'feeAmount'
      ">
          <img src="assets/images/sortDown.svg" class="img-style" />
          <img src="assets/images/sortDown.svg" class="sortUp" />
        </span>
        <span *ngIf="
        responseHeader.sortColumn &&
        responseHeader.sortColumn === 'feeAmount'
      ">
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'desc'
        " class="img-style" />
          <img src="assets/images/sortDown.svg" *ngIf="
          responseHeader.sortOrder &&
          responseHeader.sortOrder === 'asc'
        " class="sortUpAscending" />
        </span>


      </th>
      <td mat-cell (click)="toggleChild(element)" *matCellDef="let element">
        {{ element?.feeAmount ? element.feeAmount : "--" }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef translate>LBL_ACTION</th>
      <td mat-cell *matCellDef="let element">
        <div class="acceptIcon" (click)="onApproveClick($event, element)"></div>
        <div class="rejectIcon" (click)="onRejectClick($event, element)"></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div [hidden]="noRecordFlag">
    <app-pagination #paginator  [dataSourceLength]="bulkSource.length"
      [totalRecords]="totalCount" (onPaginationChange)="paginationChangeClick($event)" [currentRecord]="'MyTasksPayroll'" [flagForRefreshPage]="refreshClickedFlag" >
    </app-pagination>
  </div>
</div>

<div *ngIf="noRecordFlag">
  <app-no-record-found [noRecordFoundInfo]="noRecordFoundInfoObj"></app-no-record-found>
</div>

<app-ajax-loader-medium [hidden]="isLoadingCompelete"></app-ajax-loader-medium>