<div class="container">
    <div class="subTitles">{{'LBL_SADAD_MOI_REFUND_REQUEST' | translate}}</div>
    <div class="refNO">
        {{'LBL_TRANSACTION_REF_NUM' | translate }} <b><span
                *ngIf="sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.referenceNo">{{sadadMoiRefundReqDetails.referenceNo}}</span><span
                *ngIf="!sadadMoiRefundReqDetails || !sadadMoiRefundReqDetails.referenceNo">--</span></b>
    </div>
    <div class="refNO">
        {{'LBL_AMOUNT' | translate }} <b><span
                *ngIf="sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.paymentAmount && sadadMoiRefundReqDetails.paymentCcy">{{sadadMoiRefundReqDetails.paymentAmount
                | currencyFormat:sadadMoiRefundReqDetails.paymentCcy}} {{sadadMoiRefundReqDetails.paymentCcy}}</span><span
                *ngIf="!sadadMoiRefundReqDetails ||( !sadadMoiRefundReqDetails.paymentAmount && ! sadadMoiRefundReqDetails.paymentCcy)">--</span></b>
    </div>
    <div class="title" *ngIf="sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.odStatusCode">
        <button class="status-green-button" translate
            [class.status-red-button]="sadadMoiRefundReqDetails.odStatusCode === 'RN' ||sadadMoiRefundReqDetails.odStatusCode === 'RS' ||sadadMoiRefundReqDetails.odStatusCode === 'RE' ||sadadMoiRefundReqDetails.odStatusCode === 'RO' ||sadadMoiRefundReqDetails.odStatusCode === 'RH'">
            {{sadadMoiRefundReqDetails.odStatus}}
        </button>
    </div>
    <div class="subContainer">
        <div class="fxContainer mt-top">
            <div class="column1">
                <label class="label" translate>LBL_BILLER_NAME</label>
                <div class="dataInfo" *ngIf="sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.billerName">{{sadadMoiRefundReqDetails.billerName}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiRefundReqDetails || !sadadMoiRefundReqDetails.billerName">--</div>
            </div>
            <div class="column2">
                <label class="label" translate>LBL_SERVICE_TYPE</label>
                <div class="dataInfo" *ngIf="sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.serviceType">{{sadadMoiRefundReqDetails.serviceType}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiRefundReqDetails || !sadadMoiRefundReqDetails.serviceType">--</div>
            </div>
            <div class="column3">
                <label class="label" translate>LBL_VALUE_DATE</label>
                <div class="dataInfo" *ngIf="sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.valueDate">{{sadadMoiRefundReqDetails.valueDate | dateFormat}}</div>
                <div class="dataInfo" *ngIf="!sadadMoiRefundReqDetails || !sadadMoiRefundReqDetails.valueDate">--</div>
            </div>
        </div>
        <div class="flexCntr">
            <div class="column"  *ngFor="let dynamicValues of sadadMoiRefundReqDynamicValues">
                <label class="label">{{dynamicValues.name}}</label>
                <div class="dataInfo" *ngIf="dynamicValues.value">{{dynamicValues.value}}</div>
                <div class="dataInfo" *ngIf="!dynamicValues.value">--</div>
            </div>
        </div>
        <div class="flexCntr" *ngIf="((sadadMoiRefundReqDetails && sadadMoiRefundReqDetails.bankReason && sadadMoiRefundReqDetails.bankReason !=='') || (rootScopeData.transactionInquiry && rootScopeData.transactionInquiry.rejectReason))  && ( sadadMoiRefundReqDetails && (sadadMoiRefundReqDetails.odStatusCode ==='RH' || sadadMoiRefundReqDetails.odStatusCode ==='RO' || sadadMoiRefundReqDetails.odStatusCode ==='RE' || sadadMoiRefundReqDetails.odStatusCode ==='RN'))">
            <div class="column">
                <label class="label" translate>LBL_REJECTED_REASON</label>
                <div class="dataInfo">{{ sadadMoiRefundReqDetails.bankReason ? sadadMoiRefundReqDetails.bankReason:rootScopeData.transactionInquiry.rejectReason }}</div>
            </div>
        </div>
        <div class="flexCntr">
            <div class="column">
                <label class="label" translate>LBL_CUSTOMER_REFERENCE</label>
                <div class="dataInfo">{{ sadadMoiRefundReqDetails?.customerReference ? sadadMoiRefundReqDetails?.customerReference : "--"}}</div>
            </div>
            <div class="column">
                <label class="label" translate>LBL_PAYMENT_DETAILS</label>
                <div class="dataInfo">{{ sadadMoiRefundReqDetails?.paymentDetails ? sadadMoiRefundReqDetails?.paymentDetails : "--"}}</div>
            </div>
        </div>
    </div>
</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>
