.subContainer {
  width: 94%;
  border-radius: 6px;
  background-color: var(--primary-widget-bg-color);
  padding: 19px 20px 51px 22px;
  border: 1px solid var(--widget-border-color);
  margin-top: 20px;
}

.selectInput {
  min-width: 80%;
  line-height: 40px;
  padding: 0px 10px 0px 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--input-text-color);
  cursor: auto;
}
.dateInput{
  width: 100%;
}
.row {
  margin-top: 20px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.column {
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}
.paySelect{
min-width: 323px;
}
.primaryBtn{
  width: 160px;
  float: right;
  margin-top: -5px;
  margin-right: 15px;
}
.actionGroup {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 24px;
}
.tableInfo {
  margin-top: 21px;
}
table {
  border-collapse: collapse;
  width: 99%;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(230, 228, 228);
}.downArrow{
  background: url(../../../../assets/images/iconDownGreen.svg) no-repeat center ;
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
  transition: 1s transform;
}
.arrowRotate{
  transform: rotate(180deg);
  margin-top: 12px;
}
.subTableGroup{
  margin-top: 20px;
  margin-left: 10px;
}
.totalFonts{
  font-size: 14px;
  font-family: "HelveticaNeueMed", arial, sans-serif;
  color: var(--tableData-header-color);
  margin-top: 16px;
}
.dispHide{
  visibility: hidden;
  min-width: 100px;
}