.innerContainer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
}

.mbot_4 {
    margin-bottom: 4px;
}
.mtop_17 {
    margin-top: 17px;
}


.selectInput {
    width: 95px;
    line-height: 40px;
    padding: 0px 0px 0px 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 14px;
    color: var(--input-text-color);
    cursor: pointer;
}