<div class="filter-search-popup" *ngIf="showAdvancedSearchPopup" (click)="stopAdvancedSearchClose($event)">
  <div translate class="header">LBL_FILTER
    <img src="assets/images/closeIcon.svg" class="close-icon" mat-dialog-close (click)="closeFilter($event)">
  </div>

  <div class="flexCntr">
    <div>
      <div class="toggleCntr">
        <div translate id="leftToggle" class="toggle" [class.active]="leftToggle" (click)="leftToggleCntl()">
          LBL_BY_DATE
        </div>
        <div translate id="rightToggle" class="toggle" [class.active]="rightToggle" (click)="rightToggleCntl()">
          LBL_BY_PERIOD
        </div>
      </div>
      <div class="fromto" *ngIf="leftToggle">
        <div class="datefrom">
          <div translate class="fieldLabel" id="proctm">LBL_DATE_FROM</div>
          <div class="shortDatePicker mt-top">
            <app-date-picker [clearFlag]="clearFlag" class="dateErrorMsg" [showDateErrorMessage]="fromDateErrorMessage"
              (dateValue)="getFromDate($event)" [maxDate]="maxFromDate" [minDate]="minFromDate"[newDate]="dateFrom"></app-date-picker>
          </div>
        </div>
        <div class="dateto">
          <div translate class="fieldLabel" id="proctm">LBL_TO</div>
          <div class="shortDatePicker mt-top">
            <app-date-picker class="dateErrorMsg" [clearFlag]="clearFlag" [showDateErrorMessage]="toDateErrorMessage"
              (dateValue)="getToDate($event)" [maxDate]="maxToDate" [minDate]="minToDate" [newDate]="dateTo" ></app-date-picker>
          </div>
        </div>
      </div>
      <div class="period" *ngIf="rightToggle && !leftToggle">
        <div translate class="fieldLabel">LBL_PERIOD</div>
        <mat-select panelClass="dropDownOption" class="selectInput" [(value)]="period" disableOptionCentering>
          <mat-option value="currentDay">{{
            "LBL_CURRENT_DAY" | translate
            }}</mat-option>
          <mat-option value="currentMonth">{{
            "LBL_CURRENT_MONTH" | translate
            }}</mat-option>
          <mat-option value="previousDay">{{
            "LBL_PREVIOUS_DAY" | translate
            }}</mat-option>
          <mat-option value="previousMonth">{{
            "LBL_PREVIOUS_MONTH" | translate
            }}</mat-option>
          <mat-option value="last7Days">{{
            "LBL_LAST_7_DAYS" | translate
            }}</mat-option>
          <mat-option value="last2Weeks">{{
            "LBL_LAST_2_WEEKS" | translate
            }}</mat-option>
          <mat-option value="last3Months">{{
            "LBL_LAST_3_MONTHS" | translate
            }}</mat-option>
          <mat-option value="last6Months">{{
            "LBL_LAST_6_MONTHS" | translate
            }}</mat-option>
        </mat-select>
      </div>
      <div *ngIf="periodErrorMessage" translate class="errorMsg zeroHeight">LBL_PLSE_SELECT_PERIOD</div>
    </div>
    <div [ngClass]="rightToggle === true ?'dateInputright':'dateInput'">
      <div class="dateorder">
        <div class="fieldLabel" translate>LBL_DATE_ORDER</div>
        <mat-select panelClass="dropDownOption" class="selectInput" [(value)]="dateOrder" disableOptionCentering>
          <mat-option value="desc">{{
            "LBL_DESCENDING" | translate
            }}</mat-option>
          <mat-option value="asc">{{ "LBL_ASCENDING" | translate }}</mat-option>
        </mat-select>
        <div *ngIf="dateOrderErrorMessage" translate class="errorMsg zeroHeight">LBL_PLEASE_SELECT_DATE_ORDER</div>
      </div>
        
      <div class="dateorder">
        <div class="fieldLabel" translate>LBL_STATUS</div>
        <mat-select panelClass="dropDownOption" class="selectInput" [(value)]="status" disableOptionCentering>
          <mat-option value="{{ dataSource.beneFileStatus }}" *ngFor="let dataSource of statusDropDown">{{
            dataSource.beneFileStatus }}</mat-option>
        </mat-select>
        <div *ngIf="statusErrorMessage" class="errorMsg zeroHeight" translate>LBL_PLEASE_SELECT_STATUS</div>
      </div>
    </div>
   
  </div>

  <div class="submt">
    <div>
      <!-- <button class="clr" (click)="onClickClear()" translate>LBL_CLEAR</button> -->
      <app-tertiary-button buttonValue="LBL_CLEAR" (click)="onClickClear()"></app-tertiary-button>
    </div>
    <div>
      <!-- <button class="apply" (click)="onClickApply()" translate>
        LBL_APPLY
      </button> -->
      <app-primary-button (click)="onClickApply()" buttonValue="LBL_APPLY"></app-primary-button>
    </div>
  </div>
</div>