<div class="titleContainer" translate>LBL_CHANGE_PASSWORD</div>
<div class="subContainer">
<div *ngIf="step1">
    <app-authentication (onTwoAuthClick)="onSecondFactorValue($event)" [isShowOtpTokenToggle]="false" (getOtpClick)="getOtpValue($event)" [otpError]="isOtpValid" [initParam]="initReqParam"></app-authentication>
</div>
<div *ngIf="callBack">
    <app-call-back [pageName]="changePassword" [pageName]='pageCall' (onSuccessEmit)="callBackSuccess()"  (clickCancelCallBck)="getCanelBtnClick()"></app-call-back>
</div>
<div *ngIf="step2">
<div class="passwordContainer">
    <div>{{'LBL_CURRENT_PASSWORD' | translate}}<span class="required">*</span></div>
    <input type="password" [(ngModel)]="currentPassword" class="lockSymbol" placeholder="{{'LBL_ENTER_CURRENT_PASSWORD_WATERMARK' | translate}}"
        (blur)="onBlurCurrentPassword()">
    <div class="errorMsg" *ngIf="!currentPassWordValid" translate>LBL_ENTER_CURRENT_PASSWORD</div>
</div>
<div class="passwordContainer mt-top">
    <div>{{'LBL_NEW_PASSWORD' | translate}}<span class="required">*</span></div>
    <input type="password" class="lockSymbol" [(ngModel)]="newPassword" placeholder="{{'LBL_ENTER_PASSWORD_WATERMARK' | translate}}"
        (keyup)="newpassword()" (blur)="onBlurNewPassword()">
    <div class="errorMsg" *ngIf="!newPassWordValid" translate>LBL_ENTER_NEW_PASSWORD</div>
    <div class="errorMsg" *ngIf="passwordCriteriaValid" translate>LBL_PASSWORD_CRITERIA_MSG</div>
</div>
<div *ngIf="passwordStrengthbar">
    <div class="containerbar"><span [ngClass]=passwordStrength></span></div>
    <!-- <span> {{passwordStrength}}</span> -->
</div>
<div class="passwordCheckCntnr">
    <div class="fxContainer">
        <div class="column1">
            <span *ngIf="!lowerCase" class="closeIcon"></span>
            <span *ngIf="lowerCase" class="tickIcon"></span>
            <span translate>LBL_LOWER_CASE</span>
        </div>
        <div class="column2">
            <span *ngIf="!upperCase" class="closeIcon"></span>
            <span *ngIf="upperCase" class="tickIcon"></span>
            <span translate>LBL_UPPER_CASE</span>
        </div>
        <div class="column3">
            <span *ngIf="!number" class="closeIcon"></span>
            <span *ngIf="number" class="tickIcon"></span>
            <span translate>LBL_NUMBER</span>
        </div>
    </div>
    <div class="fxContainer">
        <div class="column1">
            <span *ngIf="!specialCharacter" class="closeIcon"></span>
            <span *ngIf="specialCharacter" class="tickIcon"></span>
            <span translate>LBL_SYMBOL</span>
        </div>
        <div class="column2">
            <span *ngIf="!minimumCharacter" class="closeIcon"></span>
            <span *ngIf="minimumCharacter" class="tickIcon"></span>
            <span translate>LBL_8_CHARACTERS</span>
        </div>
    </div>
</div>
<div class="passwordContainer reenterPass">
    <input type="password" class="lockSymbol" [(ngModel)]="reEnteredPassword" placeholder="{{'LBL_REENTER_PASSWORD_WATERMARK' | translate}}"
        (keyup)="confirmPassWordCheck()" (blur)="onBlurReenterPassword()">
    <div class="errorMsg" *ngIf="!reenterPassWordValid" translate>LBL_REENTER_PASSWORD</div>
    <div class="errorMsg" *ngIf="passwordMismatchError" translate>LBL_PASSWORD_NOT_MATCH</div>
    <div class="successMsg" *ngIf="passwordMatch" translate>LBL_PASSWORD_MATCH</div>
    <div class="errorMsg" *ngIf="errInChnanging">{{err}}</div>
</div>
</div>
<div *ngIf="step3">
    <div class="successMessageContainer">
        <img src="./assets/images/accept-Icon.svg" class="successImage">
        <div class="successtext" translate>LBL_PASSWORD_SET_SUCCESS_MSG</div>
    </div>
</div>
</div>
<div *ngIf="step1" class="btncntr"> <app-tertiary-button buttonValue="LBL_CANCEL" (click)="cancel()"></app-tertiary-button> </div>
<div *ngIf="step2" class="btncntr">
    <!-- <button class="button-secondary" translate (click)="onClickCancel()">LBL_CANCEL</button>
    <button class="button-primary" translate
        (click)="onClickSubmit()">LBL_SUBMIT</button> -->
        <app-tertiary-button buttonValue="LBL_CANCEL" (click)="onClickCancel()"></app-tertiary-button>
        <app-primary-button buttonValue="LBL_SUBMIT" (click)="onClickSubmit()"></app-primary-button>
</div>
<div *ngIf="step3" class="btnContainer">
    <!-- <button class="button-primary" (click)="logOut()" translate>LBL_LOGIN</button> -->
    <app-primary-button buttonValue="LBL_LOGIN" (click)="logOut()"></app-primary-button>
</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>