<div class="footerhead">
    <div class="footertext"><span translate>LBL_SNB_ALL_RIGHTS_RESERVED</span></div>
    <div class="footerlables">
        <span (click)="security_Click()" translate>LBL_SECURITY</span>
        <span class="careertext"  (click)="career_Click()" translate>LBL_CAREERS</span>
        <span class="careertext" (click)="cons_prod_Click()" translate>LBL_CONSUMER_PRODUCTION_CODE</span>
        <span class="snbcap" (click)="snb_capital_Click()" translate>LBL_SNB_CAPITAL</span></div>
</div>

