.footerhead{position:relative}
.footertext{padding:0px 0px 0px 20px;font-family:"C-Helvetica Neue-18", Arial;font-size:12px;color:var(--secondary-font-color);position:absolute}
.footerlables{font-family:"C-Helvetica Neue-18", Arial;font-size:12px;color:var(--secondary-font-color);margin:5px;text-align:center;}
.footerlables span:hover{color:var(--primary-hover-color);cursor:pointer;}.careertext{padding-left:30px;}
.snbcap{padding-left:50px;}
