body[theme=dark] *{
    --lhs-menu-text-color: #9a9a9a;
    --primary-bgcolor-color: #000;
    --primary-widget-bg-color: #1a1a1a;
    --header-bg-color: transparent;
    --footer-bg-color: #1a1a1a;
    --widget-border-color: #818181;
    --dashboard-announcement-bg: #c5e86c;
    --primary-fontColor: #fff;
    --promotions-fontColor: #fff;
    --static-white:#fff;
    --announcement-fontColor: #425563;
    --primary-selected-color:#84bd00;
    --primary-unselected-color:#ef9600;
    --secondary-btn-bg-color: #006a52;
    --secondary-btn-txt-color: transparent;
    --secondary-btn-border-color:#006a52;
    --short-profile-txt-color:#84BD00;
    --primary-btn-txt-color:#1d86ff;
    --primary-hover-color:#84BD00;
    --secondary-hover-color: #84BD00;
    --secondary-font-color: #9A9A9A;
    --summary-row-bg-color:#262626;
    --profile-pic-bg-color:#1a1a1a;
    --summary-hover-color:#292a2a;
    --table-header-color:#a2a2a2;
    --tableData-header-color:#fff;
    --overlaypopup-margin:#818181;
    --paginator-label-color:#868686;
    --primary-btn-bg-color:#d6d6d6;
    --primary-btn-border-color:#d6d6d6;
    --primary-btn-text:#000000;
    --secondary-btn-print-border-color:#006a52;
    --secondary-btn-print-bgcolor: #ffffff;
    --secondary-btn-print-text-color:#006a52;
    --input-border-color:#818181;
    --input-text-color:#fff;
    --mandatory-mark-color:#c71720;
    --preferences-outline-hover-color:#1697c9; 
    --theme-bg-color:#ff9e19;
    --toggle-bg-color:#009d12;
    --toggle-Secondary-bg-color:#5dbb67;
    --primary-Loader-color:#006a52;
    --primary-Loader-Border-color:#fafafa;
    --progressbar-strong-color:#84bd00;
    --progressbar-good-color:#fff41f;
    --progressbar-weak-color:#c71720;
    --status-green-bg-color:#eaf8ee;
    --status-green-border-color:#2fba5b;
    --status-red-bg-color:#fef3e8;
    --status-red-border-color:#f58822;
    --theme-border-color:#a9a9a9;
    --button-secondory-hover:#e6ecec;
    --button-tertiary-bg-color:#d9dde0;
    --input-placeholder-color:#c3c3c3;
    --paginator-underline-color:#e8e8e8;
    --paginator-widget-bg-color: #262626;
    --advance-filter-bg-color:#000000;
    --default-text-color:#fff;
    --theme-radio-border-color: #fff;
    --calendar-header-color:#fff;
    --date-disabled-color:rgba(255,255,255,.38);
    --calendar-divider-color:rgba(255, 255, 255, 0.8);
    --date-hover-color:rgba(0, 0, 0, 0.87);
    --toggle-hover-bg-color:#353535;
    --input-disabled-bg-color:#292a2a;
    --primary-btn-hover-color:#006a52;
    --checkbox-default-border-color:#fff;
    --checkbox-disabled-border-color:rgba(255,255,255,.38);
    --dialog-box-shadow-20per:rgba(75, 75, 75, 0.2);
    --dialog-box-shadow-14per:rgba(75, 75, 75, 0.14);
    --dialog-box-shadow-12per:rgba(75, 75, 75, 0.12);
    --toggle-tab-bg-color: #84bd00;
    --dark-summary-row-bg-color:#262626;
    // :root {--background-path-#{$i}: url(../../../../assets/images{$i})};

/*
    --theme-primary-button-bg:#006a52;
    --theme-primary-button-border:#006a52;
    --theme-primary-button-text:#FFF;
    --theme-secondary-button-bg:#d6d6d6;
    --theme-secondary-button-border:#d6d6d6;
    --theme-secondary-button-text:#006a52;
    --theme-primary-link:#006a52; 
    --theme-tab-active:#84bd00;
    --theme-burger-link:#84bd00;
    --theme-image: invert(27%) sepia(100%) saturate(589%) hue-rotate(124deg) brightness(91%) contrast(101%);
    https://isotropic.co/tool/hex-color-to-css-filter/   */
}