body[theme=default] *{
    --lhs-menu-text-color: unset;
    --primary-bgcolor-color: transparent;
    --primary-widget-bg-color: #ffffff;
    --header-bg-color: transparent;
    --footer-bg-color: #fefefe;
    --widget-border-color: #e8e8e8;
    --dashboard-announcement-bg: #c5e86c;
    --primary-fontColor: #425563;
    --promotions-fontColor: #fff;
    --static-white:#fff;
    --announcement-fontColor: #425563;
    --primary-selected-color:#84bd00;
    --primary-unselected-color:#ef9600;
    --secondary-btn-bg-color: #006a52;
    --secondary-btn-txt-color:#ffffff;
    --secondary-btn-border-color:#006a52;
    --short-profile-txt-color:#006a52;
    --primary-btn-txt-color:#1d86ff;
    --primary-hover-color:#84BD00;
    --secondary-hover-color: unset;
    --secondary-font-color: #9A9A9A;
    --summary-row-bg-color:#fafafa;
    --profile-pic-bg-color:#fafafa;
    --summary-hover-color:#f0fcf9;
    --table-header-color:#a2a2a2;
    --tableData-header-color:#5d5d5d;
    --overlaypopup-margin:#e2e2e2;
    --paginator-label-color:#868686;
    --primary-btn-bg-color:#d6d6d6;
    --primary-btn-border-color:#d6d6d6;
    --primary-btn-text:#000000;
    --secondary-btn-print-border-color:#006a52;
    --secondary-btn-print-bgcolor: #ffffff;
    --secondary-btn-print-text-color:#006a52;
    --input-border-color:#d9dde0;
    --input-text-color:#656565;
    --mandatory-mark-color:#c71720;
    --preferences-outline-hover-color:#1697c9; 
    --theme-bg-color:#ff9e19;
    --toggle-bg-color:#009d12;
    --toggle-Secondary-bg-color:#5dbb67;
    --primary-Loader-color:#006a52;
    --primary-Loader-Border-color:#fafafa;
    --progressbar-strong-color:#84bd00;
    --progressbar-good-color:#fff41f;
    --progressbar-weak-color:#c71720;
    --status-green-bg-color:#eaf8ee;
    --status-green-border-color:#2fba5b;
    --status-red-bg-color:#fef3e8;
    --status-red-border-color:#f58822;
    --theme-border-color:#a9a9a9;
    --button-secondory-hover:#e6ecec;
    --button-tertiary-bg-color:#d9dde0;
    --input-placeholder-color:#c3c3c3;
    --paginator-underline-color:rgba(0, 0, 0, 0.42);
    --paginator-widget-bg-color: #fff;
    --advance-filter-bg-color:#fff;
    --default-text-color:#2c2c2c;
    --theme-radio-border-color: #0073d8;
    --calendar-header-color:rgba(0, 0, 0, 0.87);
    --date-disabled-color:rgba(0,0,0,.38);
    --calendar-divider-color:rgba(0, 0, 0, 0.12);
    --date-hover-color:rgba(0, 0, 0, 0.87);
    --toggle-hover-bg-color:#e6ecec;
    --input-disabled-bg-color:rgba(238, 238, 238, 0.418);
    --primary-btn-hover-color:#014838;
    --checkbox-default-border-color:rgba(0,0,0,.54);
    --checkbox-disabled-border-color:#b0b0b0;
    --dialog-box-shadow-20per:rgb(0 0 0 / 20%);
    --dialog-box-shadow-14per:rgb(0 0 0 / 14%);
    --dialog-box-shadow-12per:rgb(0 0 0 / 12%);
    --dialog-box-shadow-12per:rgb(0 0 0 / 12%);
    --container-border-color: #eeeeee;
    --card-number-background: #2d8a74;
    --dark-summary-row-bg-color:#f1efef;
    --tooltip-background-color: #d18686;
    --primary-fonticon-color:#006a52;
    --secondary-fonticon-color:#84bd00;
    // :root {--background-path-#{$i}: url(../../../../assets/images{$i})};
/*
    --theme-primary-button-bg:#006a52;
    --theme-primary-button-border:#006a52;
    --theme-primary-button-text:#FFF;
    --theme-secondary-button-bg:#d6d6d6;
    --theme-secondary-button-border:#d6d6d6;
    --theme-secondary-button-text:#006a52;
    --theme-primary-link:#006a52; 
    --theme-tab-active:#84bd00;
    --theme-burger-link:#84bd00;
    --theme-image: invert(27%) sepia(100%) saturate(589%) hue-rotate(124deg) brightness(91%) contrast(101%);
    https://isotropic.co/tool/hex-color-to-css-filter/   */
}
.removeBorder .subContainer{border: none !important;}