<div class="container">
    <div class="subTitles">
        {{ standingOrderData.pymtType }} {{ "LBL_ACC_TO" | translate }}
        {{ standingOrderData.benefName ? standingOrderData.benefName : "--" }},
        {{ standingOrderData.benefAcNo ? standingOrderData.benefAcNo : "--" }}
    </div>
    <div class="refNO">
        {{ "LBL_TRANSACTION_REF_NUM" | translate }} {{ standingOrderData.siRefNo }}
    </div>
    <div class="title">
        <div translate>
            LBL_AMOUNT
            <span *ngIf="standingOrderDetails.siAmount">
                {{
                standingOrderDetails.siAmount
                | currencyFormat: standingOrderDetails.sicurrency
                }}
                {{ standingOrderDetails.sicurrency }}</span>
            on
            {{ standingOrderDetails.txnDate }}
        </div>
        <!-- <button class="status-green-button" translate [class.status-red-button]="
          transferSummary.statusCode === 'RN' ||
          transferSummary.statusCode === 'RS' ||
          transferSummary.statusCode === 'RE' ||
          transferSummary.statusCode === 'RO' ||
          transferSummary.statusCode === 'RH'
        ">
        {{ transferSummary.odStatus }}
      </button> -->
    </div>
    <div class="subContainer">
        <div class="subTitles" translate>LBL_TRANSFER_DETAILS</div>
        <div class="rowInnerCntr">
            <div class="field">
                <div class="label" translate>LBL_DETAIL_CREDIT_TO</div>
                <div class="information">
                    {{
                    standingOrderData.benefName && standingOrderData.benefName.trim() !== ""
                    ? standingOrderData.benefName
                    : "--"
                    }}
                    , {{ standingOrderData.benefAcNo ? standingOrderData.benefAcNo : "--" }}
                </div>
                <!-- <div class="information data">
            Bank : {{ transferDetails.creditBank }},
            {{ transferDetails.creditCountry }}
          </div> -->
            </div>
            <div class="field">
                <div class="label" translate>LBL_DEBIT_FROM</div>
                <div class="information">
                    {{
                    paymentDetails.res_Account_Name &&
                    paymentDetails.res_Account_Name.trim() !== ""
                    ? paymentDetails.res_Account_Name
                    : "--"
                    }},
                    {{ standingOrderData.debitAccount }}
                </div>
                <div class="information data">
                    Balance :
                    <span *ngIf="paymentDetails.CURRENT_BAL_AMT; else emptyBalance">
                        {{
                        paymentDetails.CURRENT_BAL_AMT
                        | currencyFormat: paymentDetails.debitCurrency
                        }}
                        {{ paymentDetails.res_Acc_CCY_Cd }}</span>
                    <ng-template #emptyBalance>--</ng-template>
                </div>
            </div>
            <!-- <div class="field" *ngIf="transferSummary.subProductCode !== 'BKSIFT'">
          <div class="label" translate>LBL_PURPOSE</div>
          <div class="information">
            <div class="information" *ngIf="transferDetails.secPurposeCodeDesc; else emptyPurpose">
              {{ transferDetails.secPurposeCodeDesc }}</div>
            <ng-template #emptyPurpose>--</ng-template>
          </div>
        </div>
        <div class="field" *ngIf="transferSummary.subProductCode !== 'BKSIFT'">
          <div class="label" translate>LBL_RELATIONSHIP</div>
          <div class="information" *ngIf="transferDetails.relCodeDesc; else emptyRelation">{{transferDetails.relCodeDesc}}
          </div>
          <ng-template #emptyRelation>--</ng-template>
        </div> -->
            <!-- <div class="field">
          <div class="label" translate>LBL_FEE</div>
          <div class="information" *ngIf="transferDetails.chargeAmt; else emptyFee">{{transferDetails.chargeAmt}} SAR</div>
          <ng-template #emptyFee>--</ng-template>
        </div>
        <div class="field">
          <div class="label" translate>LBL_VAT</div>
          <div class="information" *ngIf="transferDetails.vatAmt; else emptyVAT">{{transferDetails.vatAmt}} SAR</div>
          <ng-template #emptyVAT>--</ng-template>
        </div>
        <div class="field"
          *ngIf="transferDetails && transferDetails.rejectReason && transferDetails.rejectReason !=='' && (transferDetails.statusCode ==='RH' || transferDetails.statusCode ==='RO')">
          <div class="label" translate>LBL_REJECTED_REASON</div>
          <div class="information">
            {{ transferDetails.rejectReason }}
          </div> -->

            <div class="field">
                <div class="label" translate>LBL_FREQUENCY</div>
                <div class="information" *ngIf="standingOrderDetails.payevery; else emptyFrequency">
                    <div *ngIf="standingOrderDetails.payevery === 'M'">Monthly</div>
                    <div *ngIf="standingOrderDetails.payevery === 'D'">Daily</div>
                    <div *ngIf="standingOrderDetails.payevery === 'W'">Weekly</div>
                    <div *ngIf="standingOrderDetails.payevery === 'Y'">Yearly</div>
                </div>
                <ng-template #emptyFrequency>--</ng-template>
            </div>

            <div class="field">
                <div class="label" translate>LBL_PAYMENT_START_DATE</div>
                <div class="information" *ngIf="standingOrderDetails.firstPymtDate; else emptyfirstPymtDate">
                    {{standingOrderDetails.firstPymtDate}}</div>
                <ng-template #emptyfirstPymtDate>--</ng-template>
            </div>

            <div class="field">
                <div class="label" translate>LBL_PAYMENT_ENDS_ON_WITH</div>
                <div class="information" *ngIf="standingOrderDetails.lastPymtDate; else emptylastPymtDate">
                    {{standingOrderDetails.lastPymtDate}}</div>
                <ng-template #emptylastPymtDate>--</ng-template>
            </div>

            <div class="field" *ngIf="standingOrderData.paymentMode !== 'BKSIFT'">
                <div class="label" translate>LBL_PURPOSE</div>
                <div class="information" *ngIf="standingOrderDetails.purposeDesc; else emptypurpose">
                    {{standingOrderDetails.purposeDesc}}</div>
                <ng-template #emptypurpose>--</ng-template>
            </div>

            <div class="field" *ngIf="standingOrderData.paymentMode !== 'BKSIFT'">
                <div class="label" translate>LBL_RELATIONSHIP</div>
                <div class="information" *ngIf="standingOrderDetails.relationshipCodeDesc; else emptyrelationship">
                    {{standingOrderDetails.relationshipCodeDesc}}</div>
                <ng-template #emptyrelationship>--</ng-template>
            </div>

            <div class="field" *ngIf="standingOrderData.paymentMode !== 'BKSIFT' || standingOrderData.paymentMode !== 'BKSIBT' ">
                <div class="label" translate>LBL_INSTRUCTIONS1</div>
                <div class="information" *ngIf="standingOrderDetails.instructionMsg1; else emptyinstruct1">
                    {{standingOrderDetails.instructionMsg1}}</div>
                <ng-template #emptyinstruct1>--</ng-template>
            </div>

            <div class="field" *ngIf="standingOrderData.paymentMode !== 'BKSIFT' || standingOrderData.paymentMode !== 'BKSIBT' ">
                <div class="label" translate>LBL_INSTRUCTIONS2</div>
                <div class="information" *ngIf="standingOrderDetails.instructionMsg2; else emptyinstruct2">
                    {{standingOrderDetails.instructionMsg2}}</div>
                <ng-template #emptyinstruct2>--</ng-template>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->