<div class="outerContainer">
    <div class="title" translate>LBL_POS_FINANCE_REQUEST</div>
    <app-debit-lookup [debitAccDetails]="fromDataDetailsObj" (onAccountSelect)="getDisplayStatus($event, 'fromData')"
        [clear]="clearFlag" [tableId]="'debitData'" [setWidth]="setColumnWidth"></app-debit-lookup>

    <div class="accountDetails" *ngIf="!progressBar && !notification">
        <div class="subTitles" translate>LBL_NOTIFICATION</div>

        <div class="checkBoxContainer" translate>
            <mat-checkbox class="example-margin"
                [(ngModel)]="checked"></mat-checkbox>LBL_YOUR_INFORMATION_WILL_BE_CHECKED_AGAINTS_SIMAH/WATHAIQ
        </div>
    </div>

    <div class="accountDetails" *ngIf="notification">
        <div class="subTitles" translate>LBL_REQUEST_DETAILS</div>
        <div class="checkBoxContainer" translate>
            LBL_AS_YOUR_EXISTING_REQUEST_IS_UNDER_PROCESS_A_NEW_RERUEST_CANNOT_BE_RAISED
        </div>
    </div>

    <div class="accountDetails" *ngIf="fetchDetails && !progressBar">
        <div class="subTitles" translate>
            LBL_SIMAH/WATHIQ_REQUEST_IS_IN_PROGRESS
        </div>
        <div class="value">{{ value }}%</div>
        <div class="progressBar">
            <mat-progress-bar class="insideProgressBar" mode="determinate" [value]="value">
            </mat-progress-bar>
        </div>
    </div>
    <div *ngIf=" !checked" class="errorContainer errorMsg">
        <div>
            <p *ngIf="showErrorMsg" translate>LBL_PLEASE_TRY_AGAIN_LATER</p>
        </div>
        <div>
            <app-tertiary-button buttonValue="LBL_BACK" (click)="cancel()" *ngIf="backButton"></app-tertiary-button>
        </div>
        
    </div>

    <div class="accountDetails" *ngIf="progressBar">
        <div class="subTitles" translate>
            LBL_SIMAH/WATHIQ_REQUEST_IS_IN_PROGRESS
        </div>
        <div class="toggleContainer">
            <mat-button-toggle-group>
                <mat-button-toggle value="24 Months" disableRipple="true" (click)="displayContent('24 Months')"
                    [ngClass]="
            isChecked === '24 Months' ? 'hoverSelected' : 'baseSelected'
          ">{{ "LBL_24_MONTHS" | translate }}</mat-button-toggle>
                <mat-button-toggle value="36 Months" disableRipple="true" (click)="displayContent('36 Months')"
                    [ngClass]="
            isChecked === '36 Months' ? 'hoverSelected' : 'baseSelected'
          ">{{ "LBL_36_MONTHS" | translate }}</mat-button-toggle>
                <mat-button-toggle value="48 Months" disableRipple="true" (click)="displayContent('48 Months')"
                    [ngClass]="
            isChecked === '48 Months' ? 'hoverSelected' : 'baseSelected'
          ">{{ "LBL_48_MONTHS" | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="details" *ngIf="isChecked === '24Months' || '36Months' || '48Months'">
            <div>
                <div class="labels" translate>LBL_REQUEST_ID</div>
                <div>
                    {{
                    requestIdDetailList.requestID ? requestIdDetailList.requestID : "--"
                    }}
                </div>
            </div>
            <div>
                <div class="labels" translate>LBL_MAX_AMT</div>
                <div>
                    {{
                    requestIdDetailList.maxAmt
                    | currencyFormat : requestIdDetailList.maxAmt
                    }}
                    {{ requestIdDetailList.currency }}
                </div>
            </div>
            <div>
                <div class="labels" translate>
                    LBL_FINANCE_AMOUNT <span class="errorMsg">*</span>
                </div>
                <input class="inputContainer" (keypress)="allowNumbersOnly($event)" (input)="checkMaximumAmount()"
                    [(ngModel)]="financeAmount" />
                <div class="errorMsg zeroHeight" translate *ngIf="maximumAmountError">
                    LBL_ENTRD_MAX_AMT_ERROR
                </div>
            </div>

            <div>
                <div class="labels" translate>
                    LBL_RM_REFERALS <span class="errorMsg">*</span>
                </div>
                <input class="inputContainer" maxlength="35" [(ngModel)]="rmreferels" />
            </div>
        </div>

        <div class="note" translate>
            LBL_NOTE_PLEASE_NOTE_THAT_THE_AMOUNT_DOES_NOT_INCLUDE_THE_MANAGEMENT_FEES
        </div>
    </div>

    <div class="buttonConatiner" *ngIf="fetchDetails && !progressBar">
        <app-tertiary-button buttonValue="LBL_CANCEL" (click)="stopProgress()"></app-tertiary-button>
    </div>
    <div class="buttonConatiner" *ngIf="progressBar">
        <app-tertiary-button buttonValue="LBL_CANCEL" (click)="cancel()"></app-tertiary-button>
        <app-primary-button buttonValue="LBL_PROCEED" *ngIf="financeAmount && rmreferels" (click)="proceedToReview()">
        </app-primary-button>
    </div>
    <div class="buttonConatiner" *ngIf="checked && !fetchDetails && !notification">
        <app-primary-button buttonValue="LBL_FETCH" (click)="counterStart()">
        </app-primary-button>
    </div>
</div>