//////////////////////////////////////////////////////////////////////////////////////////SELECT ACCOUNT START////////////////////////////////////////////////////////////////////

.outerContainer {
  margin-left: 30px;
  margin-right: 30px;
}

.title {
  width: 215px;
  height: 30px;
  padding: 0px 0px 0px 5px;
  background-size: cover;
  font-size: 18px;
  color: var(--tableData-header-color);
  font-family: "HelveticaNeueMed", arial, sans-serif;
}

.accountDetails {
  padding: 15px;
  margin-top: 15px;
  border: 1px solid var(--widget-border-color);
  border-radius: 10px;
  background-color: var(--primary-widget-bg-color);
  background-size: cover;
  font-size: 14px;
  color: var(--tableData-header-color);
}

.subTitles {
  margin-bottom: 15px;
}

.searchContainer {
  margin-top: 15px;
}

.mat-table {
  width: 96%;
  margin-left: 2%;
  margin-top: 10px;
}

td.mat-cell {
  color: var(--tableData-header-color);
  border-bottom-style: none;
  padding: 8px;
}

th.mat-header-cell {
  border-bottom-style: none;
  height: 40px;
  padding: 10px 47px 0px 5px;
  background-size: cover;
  font-family: "HelveticaNeueMed", arial, sans-serif;
  font-size: 14px;
  color: var(--table-header-color);
  text-decoration: none solid rgb(162, 162, 162);
}

tr.mat-row {
  padding: 8px;
  cursor: pointer;
}

.mat-row:nth-child(odd) {
  background-color: var(--summary-row-bg-color);
}

td:first-of-type {
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

td:last-of-type {
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0px !important;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

td.mat-cell:last-of-type {
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

.actionGroup {
  float: right;
  margin-top: 30px;
}

.mat-row:hover {
  background-color: var(--summary-hover-color);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: var(--secondary-btn-bg-color) !important;
}

//////////////////////////////////////////////////////////////////////////////////////////SELECT ACCOUNT End////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////View ACCOUNT START////////////////////////////////////////////////////////////////////

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.viewAccContainer {
  background-color: var(--summary-hover-color);
  width: 93%;
  padding: 15px 0px 12px 69px;
  border-radius: 10px !important;

  color: var(--tableData-header-color);
  font-size: 14px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.dataBackgroundColor {
  color: var(--secondary-font-color);
  margin: 0px !important;
}

.downArrow {
  background: url(../../../../assets/images/iconDownGreen.svg) no-repeat center;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s transform;
  margin-right: 30px;
  text-align: right;
}

.tableHeader {
  color: var(--secondary-font-color);
  background-size: cover;
  font-family: "HelveticaNeue", arial, sans-serif;
  font-size: 14px;
}

.tableRowConatiner {
  background-color: var(--summary-hover-color);
  font-size: 14px;
  font-family: "HelveticaNeueMed", arial, sans-serif;
  cursor: pointer;
}

.downArrowAcc {
  background: url(../../../../assets/images/iconDownGreen.svg) no-repeat center;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 1s transform;
  margin-top: 6px;
}

//////////////////////////////////////////////////////////////////////////////////////////View ACCOUNT End////////////////////////////////////////////////////////////////////