.detailsContainer{height:auto;display: flow-root;}
.titleContainer{display: flex;margin-top: 16px;font-size: 16px;color: var(--tableData-header-color);font-family: 'HelveticaNeueMed';}
.titleContainerLeft{float:left;margin-left: 18px;width:50%}
.subTitleContainer{font-size: 14px;color: var(--tableData-header-color);font-family: 'HelveticaNeue', arial, sans-serif;}
.subTitleContainerLeft{margin-left: 18px;margin-top:8px;width:50%;font-size: 14px;font-family: 'HelveticaNeue', arial, sans-serif;}
.statusContainerLeft{margin-left: 18px;width:50%;margin-top: 20px;}
.rejectReasonContainer{margin-left:20px;margin-top:33px;}
.rejecthead{font-family: 'HelveticaNeueMed'!important;color: var(--table-header-color);font-size: 14px;}
.rejecttextarea{margin-top: 10px !important;}
textarea{width: 300px;height: 80px;border: 1px solid #e8e8e8;resize: none;border-radius: 5px;outline: none;}