#authFileUpload {

  .title {
    width: 215px;
    height: 30px;
    padding: 0px 0px 0px 5px;
    background-size: cover;
    font-size: 18px;
    color: var(--input-text-color);
    font-family: "HelveticaNeueMed", arial, sans-serif;
  }

  .beneficiaryDetails {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid var(--widget-border-color);
    border-radius: 10px;
    background-color: var(--primary-widget-bg-color);
    background-size: cover;
    font-size: 14px;
    color: var(--tableData-header-color);

    .sub {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .inner {
      display: flex;
      align-items: center;
    }
  }

  .rowInnerCntr {
    display: flex;
    flex-wrap: wrap;
    padding-left: 11px;
    padding-top: 14px;

    .field {
      width: 33.33%;
      padding-bottom: 20px;

      &.field-bottom {
        padding-bottom: 5px;
      }

      .label {
        font-family: "HelveticaNeueMed", arial, sans-serif;
        color: var(--table-header-color);
        font-size: 14px;
      }

      .label-content {
        font-family: "HelveticaNeue";
        font-size: 14px;
        color: var(--input-text-color);
        text-decoration: none solid var(--text-decoration-color);
      }

      .information {
        padding-top: 10px;
        color: var(--tableData-header-color);

        &.data {
          padding-top: 20px;
        }
      }
    }
  }

  .footer-container {
    margin-top: 20px;
    display: block;
  }

  .footerText {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid var(--widget-border-color);
    border-radius: 5px;
    background-color: var(--summary-hover-color);
    background-size: cover;
    font-family: "HelveticaNeueMed", arial, sans-serif;
    font-size: 14px;
    color: var(--tableData-header-color);
    text-decoration: none solid rgb(93, 93, 93);
    line-height: 20px;
  }

  .actionGroup {
    float: right;
    margin-top: 30px;
  }

  img {
    height: 20px;
    width: 20px;
    align-items: center;
    padding: 0 10px;
  }

  .summaryConainer {
    border-radius: 10px;
    background: var(--primary-widget-bg-color);
    border: 1px solid var(--widget-border-color);
    margin-top: 20px;
    padding-bottom: 15px !important;
  }

  .fileNameDownloadContainer {
    display: flex;

    app-uploaded-file-download {
      display: contents !important;
    }
  }

  app-uploaded-file-download .uploadedSct {
    width: 61% !important;
    padding-left: 0px !important;
    margin-top: 0px !important;

    .downloadText {
      font-size: 13px !important;
    }
  }

}

.errorMsgBottomMargin{
  margin-bottom: 25px;
  text-align: center;
}