<div class="fileDetails" *ngIf="transferSummaryDetails.summary.subproductCode !== 'CARDPAY'">
  <div class="title bold">
    {{ transferSummaryDetails.summary.serviceType }}
    {{ transferSummaryDetails.summary.subproductCode === 'CRDLIMAD' ? ("LBL_FOR" | translate) : ("LBL_FOR_CARD" |
    translate)
    }},
    {{ transferSummaryDetails.summary.subproductCode === 'CRDLIMAD' ? ("LBL_MULTIPLE_CARDS" | translate) :
    (transferSummaryDetails.summary.cardNo | maskCardNumber) }}
  </div>
  <div class="title">
    {{ "LBL_TRANSACTION_NUMBER" | translate }}
    {{ transferSummaryDetails.summary.refNo }}
  </div>
  <div class="title">
    {{ "LBL_ON" | translate }}
    {{ transferSummaryDetails.summary.cardDate | dateFormat }}
    <div class="pad_l_10">
      <button class="status-green-button" translate [class.status-red-button]="
          transferSummaryDetails.summary.status === 'RN' ||
          transferSummaryDetails.summary.status === 'RS' ||
          transferSummaryDetails.summary.status === 'RE' ||
          transferSummaryDetails.summary.status === 'RO' ||
          transferSummaryDetails.summary.status === 'RH'
        " translate>
        {{ transferSummaryDetails.summary.statusDesc }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="transferSummaryDetails.summary.subproductCode === 'CARDPAY'">
  <div class="title bold">
    {{ "LBL_CREDIT_CARD_PAYMENT" | translate }}
    {{ "LBL_FROM" | translate }}
    {{
    transferSummaryDetails.details.accName
    ? transferSummaryDetails.details.accName
    : "--"
    }}, {{ transferSummaryDetails.details.accNo }}
  </div>
  <div class="subTitleContainer">
    <div class="subTitleContainerLeft">
      {{ "LBL_REF_NUMBER" | translate }}
      <span>
        {{
        transferSummaryDetails.details.refNo
        ? transferSummaryDetails.details.refNo
        : " --"
        }}</span>
    </div>
  </div>
  <div class="title pad_20">
    {{ "LBL_AMOUNT" | translate }}
    <b>&nbsp;{{
      transferSummaryDetails.details.amount
      | currencyFormat : transferSummaryDetails.details.currency
      }}
      {{ transferSummaryDetails.details.currency }}&nbsp;</b>
  </div>
</div>

<div class="cardDetailsContainer">
  <div class="subContainer">
    <div class="subTitles" translate>LBL_CARD_DETAILS</div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CARDSTP'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_BALANCE</div>
        <div class="information">
          {{
          transferSummaryDetails.details.balance
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_REASON_TO_STOP</div>
        <div class="information">
          {{ transferSummaryDetails.details.reason }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_COMMENTS</div>
        <div class="information">
          {{
          transferSummaryDetails.details.comments
          ? transferSummaryDetails.details.comments
          : "--"
          }}
        </div>
      </div>
    </div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CARDACT'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_EXPIRY_DATE</div>
        <div class="information">
          {{ transferSummaryDetails.details.expiryDate | dateFormat }}
        </div>
      </div>
    </div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CRDVWPIN'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_BALANCE</div>
        <div class="information">
          {{
          transferSummaryDetails.details.balance
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
    </div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CRDWITHCH'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_BALANCE</div>
        <div class="information">
          {{
          transferSummaryDetails.details.balance
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CURRENT_LIMIT</div>
        <div class="information">
          {{
          transferSummaryDetails.details.currentLmt
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_NEW_LIMIT</div>
        <div class="information">
          {{
          transferSummaryDetails.details.newLmt
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
    </div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CRDCRELIM'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_BALANCE</div>
        <div class="information">
          {{
          transferSummaryDetails.details.balance
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CURRENT_LIMIT</div>
        <div class="information">
          {{
          transferSummaryDetails.details.currentLmt
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_MAX_LIMIT</div>
        <div class="information">
          {{
          transferSummaryDetails.details.maxLmt
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_MIN_LIMIT</div>
        <div class="information">
          {{
          transferSummaryDetails.details.minLmt
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_NEW_LIMIT</div>
        <div class="information">
          {{
          transferSummaryDetails.details.newLmt
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
    </div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CARDPAY'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CREDIT_CARD_NUMBER</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardNo | maskCardNumber }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_BALANCE</div>
        <div class="information">
          {{
          transferSummaryDetails.details.balance
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_COMMENTS</div>
        <div class="information">
          {{
          transferSummaryDetails.details.comments
          ? transferSummaryDetails.details.comments
          : "--"
          }}
        </div>
      </div>
    </div>
    <div class="rowInnerCntr" *ngIf="transferSummaryDetails.summary.subproductCode === 'CRDREISSU'">
      <div class="field">
        <div class="label" translate>LBL_NAME_ON_CARD</div>
        <div class="information">
          {{ transferSummaryDetails.summary.cardName }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_CARD_TYPE</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardType }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_STATUS</div>
        <div class="information">
          {{ transferSummaryDetails.details.cardStatus }}
        </div>
      </div>
      <div class="field">
        <div class="label" translate>LBL_BALANCE</div>
        <div class="information">
          {{
          transferSummaryDetails.details.balance
          | currencyFormat : transferSummaryDetails.details.currency
          }}
          {{ transferSummaryDetails.details.currency }}
        </div>
      </div>
    </div>
    <div *ngIf="transferSummaryDetails.summary.subproductCode === 'CRDLIMAD'">
      <div>
        <div>
          <table *ngIf="
              transferSummaryDetails.details.cardsLmtAdj &&
              transferSummaryDetails.details.cardsLmtAdj.length
            " mat-table [dataSource]="transferSummaryDetails.details.cardsLmtAdj" class="casaTable">
            <ng-container matColumnDef="cardName">
              <th mat-header-cell *matHeaderCellDef translate>LBL_CARD_NAME</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.cardName" class="ellipsis" [matTooltip]="element.cardName">
                  {{ element.cardName }}
                </div>
                <div *ngIf="!element.cardName">--</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="cardNo">
              <th mat-header-cell *matHeaderCellDef translate>
                LBL_CREDIT_CARD_NUMBER
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.cardNo" class="ellipsis" [matTooltip]="element.cardNo | maskCardNumber">
                  {{ element.cardNo | maskCardNumber }}
                </div>
                <div *ngIf="!element.cardNo">--</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="cardType">
              <th mat-header-cell *matHeaderCellDef translate>LBL_CARD_TYPE</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.cardType" class="ellipsis" [matTooltip]="element.cardType">
                  {{ element.cardType }}
                </div>
                <div *ngIf="!element.cardType">--</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="currentLmt">
              <th mat-header-cell *matHeaderCellDef translate>
                LBL_CURRENT_LIMIT
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.currentLmt"
                  [matTooltip]="(element.currentLmt | currencyFormat: 'SAR') + ' ' + element.currency">
                  {{ element.currentLmt | currencyFormat : element.currency }}
                  {{ element.currency }}
                </div>
                <div *ngIf="!element.currentLmt">--</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="newLmt">
              <th mat-header-cell *matHeaderCellDef translate>LBL_NEW_LIMIT</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.newLmt"
                  [matTooltip]="(element.newLmt | currencyFormat: element.currency) + ' ' + element.currency">
                  {{ element.newLmt | currencyFormat : element.currency }}
                  {{ element.currency }}
                </div>
                <div *ngIf="!element.newLmt">--</div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>