.filterIcon{
    width: 55px;
    height: 40px;
    border: 1px solid #e8e8e8;
    background: url(../../../../assets/images/refresh.svg) no-repeat center center;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(2px);
}