<div class="mTop_18">
    <div class="searchContainer">
        <app-search (childEvent)="triggerSearchFilter($event)"></app-search>
        <app-refresh *ngIf="!noRecordFlag" (onRefresh)="refreshSummary()"></app-refresh>
    </div>
    <div id="bulkInprogressDefaultCntr" *ngIf="!noRecordFlag">
        <table mat-table [dataSource]="dataSourceToPass" class="casaTable">
            <ng-container matColumnDef="refNo">
                <th mat-header-cell *matHeaderCellDef class="position_rel col-reqtype"
                    (click)="sortColumn('linkAccount')" translate>
                    LBL_REF_NUMBER
                    <span class="sortIcons" *ngIf="
                currentColumn !== undefined && currentColumn !== 'refNo'
              ">
                        <img src="assets/images/sortDown.svg" class="img-style" />
                        <img src="assets/images/sortDown.svg" class="sortUp" />
                    </span>
                    <span class="sortIcons" *ngIf="currentColumn && currentColumn === 'refNo'">
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'desc'"
                            class="img-style" />
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'asc'"
                            class="sortUpAscending" />
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.refNo }}
                </td>
            </ng-container>
            <ng-container matColumnDef="linkAccount">
                <th mat-header-cell *matHeaderCellDef class="position_rel col-reqtype"
                    (click)="sortColumn('linkAccount')" translate>
                    LBL_REQUEST_FOR
                    <span class="sortIcons" *ngIf="
                currentColumn !== undefined && currentColumn !== 'linkAccount'
              ">
                        <img src="assets/images/sortDown.svg" class="img-style" />
                        <img src="assets/images/sortDown.svg" class="sortUp" />
                    </span>
                    <span class="sortIcons" *ngIf="currentColumn && currentColumn === 'linkAccount'">
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'desc'"
                            class="img-style" />
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'asc'"
                            class="sortUpAscending" />
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.linkAccount }}
                </td>
            </ng-container>
            <ng-container matColumnDef="requestType">
                <th mat-header-cell class="position_rel col-reqtype" *matHeaderCellDef
                    (click)="sortColumn('requestType')" translate>
                    LBL_REQUEST_TYPE

                    <span class="sortIcons" *ngIf="currentColumn && currentColumn !== 'requestType'">
                        <img src="assets/images/sortDown.svg" class="img-style" />
                        <img src="assets/images/sortDown.svg" class="sortUp" />
                    </span>
                    <span class="sortIcons" *ngIf="currentColumn && currentColumn === 'requestType'">
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'desc'"
                            class="img-style" />
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'asc'"
                            class="sortUpAscending" />
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">{{ element.requestType }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="position_rel col-reqtype" (click)="sortColumn('status')"
                    translate>
                    LBL_STATUS
                    <span class="sortIcons" *ngIf="currentColumn && currentColumn !== 'status'">
                        <img src="assets/images/sortDown.svg" class="img-style" />
                        <img src="assets/images/sortDown.svg" class="sortUp" />
                    </span>
                    <span class="sortIcons" *ngIf="currentColumn && currentColumn === 'status'">
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'desc'"
                            class="img-style" />
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'asc'"
                            class="sortUpAscending" />
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.statusDesc }}
                </td>
            </ng-container>

            <ng-container matColumnDef="valueDate">
                <th mat-header-cell class="position_rel col-reqtype" *matHeaderCellDef (click)="sortColumn('valueDate')"
                    translate>
                    LBL_SUBMITTED_ON

                    <span class="sortIcons" *ngIf="currentColumn && currentColumn !== 'valueDate'">
                        <img src="assets/images/sortDown.svg" class="img-style" />
                        <img src="assets/images/sortDown.svg" class="sortUp" />
                    </span>
                    <span class="sortIcons" *ngIf="currentColumn && currentColumn === 'valueDate'">
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'desc'"
                            class="img-style" />
                        <img src="assets/images/sortDown.svg" *ngIf="sortDirection && sortDirection === 'asc'"
                            class="sortUpAscending" />
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.valueDate |dateFormat}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="actionHide" translate>LBL_ACTION</th>
                <td mat-cell *matCellDef="let element" class="actionHide">
                    <div>
                        <app-more-action [currentRecord]="element" [routepath]="routeDetailScreen"
                            (click)="selectedRecord($event,element)"></app-more-action>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToDetailsScreen(row)"></tr>
        </table>

    </div>
    <div *ngIf="noRecordFlag">
        <app-no-record-found [noRecordFoundInfo]="noRecordFoundInfoObj"></app-no-record-found>
    </div>
    <app-pagination #paginator *ngIf="!noRecordFlag" [dataSourceLength]="dataSourceLength"
        [currentRecord]="'transactionId'" [totalRecords]="totalRecords"
        (onPaginationChange)="paginationChangeClick($event)"></app-pagination>
</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>