.rowInnerCntr {
    display: flex;
    flex-wrap: wrap;
    padding-left: 11px;
    padding-top: 14px;
    .field {
        width: 33.33%;
        padding-bottom: 20px;
        overflow-wrap: break-word;
        .label{
            font-family: 'HelveticaNeueMed', arial, sans-serif;
            color: var(--table-header-color);
            font-size: 14px;
        }
        .information{
            padding-top: 10px;
            color: var(--tableData-header-color);

            &.data{
                padding-top: 20px;
            }
        }
    }
    
}
.beneficiaryDetails{
    // padding: 22px 20px 0 0;
    padding: 83px 0 0 18px;
    border: 1px solid var(--widget-border-color);
    border-radius: 10px;
    background-color: var(--primary-widget-bg-color);
    background-size: cover;
    font-size: 14px;
    color: var(--tableData-header-color);
    margin: 5px 20px 0px 30px;
}
.beneficiaryReviewDetails{
    padding: 20px 0 0 18px;
    border: 1px solid var(--widget-border-color);
    border-radius: 10px;
    background-color: var(--primary-widget-bg-color);
    background-size: cover;
    font-size: 14px;
    color: var(--tableData-header-color);
    margin: 5px 20px 0px 30px;
}

input[type=text]{
    width: 280px;
    height: 40px;
    padding: 0px 8px;
    border: 1px solid var(--widget-border-color);
    border-radius: 4px;
    background-size: cover;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    color: var(--tableData-header-color);
    background-color: var(--primary-widget-bg-color);
}

.btnCntr {
    position: relative;
    app-primary-button {
        position: absolute;
        top: 25px;
        right: 29px;
    }
}
.footer{
    padding-top: 21px;
    margin-left: -29px;
    .termsAndContion{
        padding-left: 33px;
        color: var(--tableData-header-color);;
        font-family: 'HelveticaNeue', arial, sans-serif;
        font-size: 14px;
    }
    .terms{
        margin-left: 2px;
        color: var(--short-profile-txt-color);
        font-family: 'HelveticaNeue', arial, sans-serif;
        font-size: 14px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }

}
.actionGroup{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: -26px;
    margin-right: 7px;
}
.afterProceed{
    margin: 5px 20px 0px 30px;
}