<div class="subconatiner">
  <div translate class="subTitles">LBL_COMPANY_INFORMATION</div>
  <div class="mtop_20 mbot_4 innerContainer">
    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_CUSTOMER_ID</div>
      <div class="mtop_10">
        <div>{{ companyInformation.customerId }}</div>
      </div>
    </div>

    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_CUSTOMER_NAME</div>
      <div class="mtop_10">
        <div>{{ companyInformation.customerName }}</div>
      </div>
    </div>

    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_BRANCH</div>
      <div class="mtop_10">
        <div>{{ companyInformation.branch }}</div>
      </div>
    </div>
  </div>
</div>
