.mainContainer {
    margin: 0px 25px 50px 25px;
}
.subContainer {
    padding: 20px;
    border: 1px solid var(--widget-border-color);
    border-radius: 10px;
    background-color: #ffffff;
    background-size: cover;
    font-family: "HelveticaNeueMed", arial, sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    margin-top: 20px;
}
.subTitles{
    font-size: 16px;
    font-family: "HelveticaNeueMed", arial, sans-serif;
    color: var(--tableData-header-color);
}
.row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding-left: 16px;
}
.column {
    margin-bottom: 20px;
}
.geneStaTitles {
    color: var(--table-header-color);
    font-family: "HelveticaNeueMed", arial, sans-serif;
    font-size: 14px;
}
.box{
    width: 300px;
    line-height: 40px;
    padding: 0px 0px 0px 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 14px;
    color: #656565;
    cursor: pointer;
    //margin-right: 40px;
}
.buttons{
    float: right;
    margin-top: 20px;
}
.details{
    // font-family: "HelveticaNeue";
    font-family: "HelveticaNeueLight", arial, sans-serif;
    // color: var(--tableData-header-color);
    font-size: 14px;
    overflow-wrap:anywhere;
}
input[type=text]{
    width: 294px;
    height: 40px;
    padding: 0px 8px;
    border: 1px solid var(--widget-border-color);
    border-radius: 4px;
    background-size: cover;
    font-family: "HelveticaNeue";
    font-size: 14px;
    color: var(--tableData-header-color);
    background-color: var(--primary-widget-bg-color);
    margin-top: 10px;
}
div.subContainer:first-child{
    margin-top: 0px;
}
.mainTitle {
    margin-top: -10px;
}
.footer{
    padding-top: 30px;
    margin-left: -29px;
    display: inline-block;
    .termsAndContion{
        padding-left: 33px;
        color: var(--tableData-header-color);;
        font-family: 'HelveticaNeue', arial, sans-serif;
        font-size: 14px;
    }
    .terms{
        margin-left: 2px;
        color: var(--short-profile-txt-color);
        font-family: 'HelveticaNeue', arial, sans-serif;
        font-size: 14px;
    }
    a{
        text-decoration: none;
    }
}
.required{
    margin-left: 5px;
}