<div id="esalBillerDetailsPrintSection">
    <div class="detailsTitleContainer">
        <div class="mainTitle" translate>LBL_ESAL_BILLER_DETAILS</div>
        <app-summary-tools id="printCheque" [printSection]="printSection" [enabledProperty]="true" [isshownPrint]="shownPrint" [isshowndetailsPrint]="isshowndetailsPrint" (onDetailsPagePrintemit)="selectDetailsPagePrint()" (onPDFdownloadChange)="downloadPdf('save')"></app-summary-tools>
    </div>
    <section class="summaryOuterConainer">    
        <div class="summaryConainer">
            <app-esal-biller-details></app-esal-biller-details>
          </div>
    </section>
    <section class="summaryOuterConainer">    
        <div class="summaryConainer">
            <app-work-flow [workFlowData]="workFlowHistoryParams"></app-work-flow>
          </div>
    </section>
    <section class="summaryOuterConainer">    
        <div class="summaryConainer">
            <app-history [historyData]="workFlowHistoryParams"></app-history>
          </div>
    </section>
    <section>
        <div class="btnContainer">
            <!-- <button class="button-secondary backButton" routerLink="/sadad/billsInquiry/esalBillerInquiry" translate>LBL_BACK</button> -->
            <app-tertiary-button buttonValue="LBL_BACK" (click)="onClickBack()"></app-tertiary-button>
         </div>
    </section>
</div>
    
