<div class="header-panel">
    <div class="header-panel-left headerPanelWidth">
        <div class="historyHeader" translate>LBL_TRACKER_INFORMATION</div>
    </div>
</div>
<div *ngIf="!norecordflag">
    <table id="trackerGPItable" mat-table [dataSource]="dataSourceToPass" class="dashboardTable">
        
        <ng-container matColumnDef="bankName">
            <th mat-header-cell *matHeaderCellDef ><div class="position_rel" translate>LBL_BANK_NAME
            </div></th>
            <td mat-cell *matCellDef="let element"><span>{{element.correspondBankName}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="senderRef">
            <th mat-header-cell *matHeaderCellDef ><div class="position_rel" translate>LBL_SENDER_REF
            </div></th>
            <td mat-cell *matCellDef="let element"> <span>{{element.transUTIReference}}</span> </td>
          </ng-container>
          <ng-container matColumnDef="recievedDate">
            <th mat-header-cell *matHeaderCellDef ><div class="position_rel" translate>LBL_RECIEVED_DATE
            </div></th>
            <td mat-cell *matCellDef="let element"> <span>{{element.creditValueDate}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="sentDate">
            <th mat-header-cell *matHeaderCellDef ><div class="position_rel" translate>LBL_SEND_DATE
            </div></th>
            <td mat-cell *matCellDef="let element"><span>{{element.lastActionDate}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="deduct">
            <th mat-header-cell *matHeaderCellDef ><div class="position_rel" translate>LBL_SENDER_DEDUCTS
            </div></th>
            <td mat-cell *matCellDef="let element"> <span>{{element.sender_DEDUCTS}}</span>  </td>
          </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>



