<div class="mainConatiner">
    <div class="ttileConatiner">
        <div class="backIcon" (click)="backToDashboard()"></div>
        <div translate class="mainTitle">LBL_VIEW_E_STATEMENT</div>
    </div>
    <div class="detailsDataCntr">
        <div class="bodyConatiners">
            <app-debit-lookup *ngIf="debitAccountDetailsObj" [debitAccDetails]="debitAccountDetailsObj" (onAccountSelect)="afterFromAccountSelection($event)" [clear]="clearFlag"  [shownsearch]="searchShownFlag" [tableId]="'eStatement'"></app-debit-lookup>
            <div hidden class="subconatiner">
                <div translate class="subTitles">LBL_ADDITIONAL_DETAILS</div>
                <div class="dslk_felxConatiner">
                    <!-- <div>
                        <div translate class="geneStaTitles fieldTitles">LBL_ACC_NUMBER<span class="required">*</span>
                        </div>
                        <div class="mtop_10">
                            <mat-select class="selectInput" panelClass="dropDownOption" disableOptionCentering
                                [(ngModel)]="cifNumber" 
                                placeholder="select Account Number">
                                <mat-option *ngFor="let statementInfo of dataSource" [value]="statementInfo" (click)="cifNumberSelected(statementInfo)">
                                    {{statementInfo.OD_ACC_NO}}</mat-option>
                            </mat-select>
                        </div>
                        <div [ngClass]="cifNumberError ? '':'visibilityHide'"><small>Please select the option</small></div>
                    </div> -->
                    <div>
                        <div translate class="fieldTitles">LBL_FROM_DATE</div>
                        <div class="mtop_10">
                        <app-date-picker (dateValue)="fromDate($event)" [maxDate]="maxDate" [minDate]="minDate"></app-date-picker>
                        <div *ngIf="fromDateError"><small translate class="required">LBL_PLSE_SELECT_FROMDATE</small></div></div>
                    </div>
                    <div>
                        <div translate class="fieldTitles">LBL_TO_DATE</div>
                        <div class="mtop_10">
                        <app-date-picker (dateValue)="toDate($event)" [maxDate]="maxDate" [minDate]="fromDateValue"></app-date-picker>
                        <div *ngIf="toDateError"><small translate class="required">LBL_PLSE_SELECT_TODATE</small></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tableSelected" class="subconatiner mtop_20">
            
            <table mat-table [dataSource]="tabledataSource" class="tableInfo viewStatement">
                <ng-container matColumnDef="refNumber" >
                    <th mat-header-cell *matHeaderCellDef hidden translate><div class="position_rel" translate>LBL_REF_NUMBER</div></th>
                    <td mat-cell *matCellDef="let element" hidden>
                        {{element.res_InvoiceNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef hidden translate><div class="position_rel" translate>LBL_DATE</div></th>
                    <td mat-cell *matCellDef="let element" hidden>
                        {{element.res_InvoiceDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef translate><div class="position_rel" translate>LBL_MONTH</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{monthList[element.res_Month]}} </td>
                </ng-container>

                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef translate><div class="position_rel" translate>LBL_YEAR</div></th>
                    <td mat-cell *matCellDef="let element">
                        {{element.res_Year}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="downloadIcon" (click)="download_Click(element)"></div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <div class="btnGroup mtop_20" *ngIf="showStatementDetails">
        <!-- <div><button type="button" class="button-secondary" (click)="clear()" translate>LBL_CLEAR</button></div>
        <div><button type="button" class="button-primary" (click)="submit()" translate>LBL_GO</button></div> -->
        <app-tertiary-button buttonValue="LBL_CLEAR" (click)="clear()"></app-tertiary-button>
        <app-primary-button buttonValue="LBL_GO" (click)="submit()"></app-primary-button>
    </div>
    <div class="btnGroup mtop_20" *ngIf="showCancelBtn">
        <!-- <div><button type="button" class="button-secondary" (click)="clear()" translate>LBL_CANCEL</button></div> -->
        <app-tertiary-button buttonValue="LBL_CANCEL" (click)="clear()"></app-tertiary-button>
    </div>
</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>