.mTop_18{
    margin-top: 18px;
}
.actionsConatiner {
    display: flex;
    justify-content: space-between;
    .leftPannel {
        display: flex;
        min-width: 40%;
        justify-content: space-between;
    }
}
.searchCntnrLeft {
    float: left;
    // margin-left: 15px;
}
.casaTable {
    width: 100%;
    table-layout: fixed;
    background-color: var(--primary-widget-bg-color);
    .mat-column-BILLER{width:14.56% !important}
    .mat-column-SERVICE_TYPE{width: 14.63% !important;padding-left: 5px;}
    .mat-column-FROM{width: 11% !important;}
    .mat-column-REFNUMBER{width: 17.28% !important;}
    .mat-column-VALUE_DATE{width: 11% !important;}
    .mat-column-AMT{ width: 10.75% !important;}
    .mat-column-STATUS{width: 13.66% !important;}
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border: none !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 5px;
}
.actionIcon {
    background: url(/assets/images/icoaction.svg) no-repeat center;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.mat-sort-header-arrow {
    transform: none;
    opacity: 0;
}
.dropDownContainer {
    position: relative;
    .dropDownContent {
        position: absolute;
        top: 0;
        right: 75px;
        list-style: none;  
        line-height: 30px!important;
        text-align: start !important;
        li {
            width: 150px;
            height: 30px;
            padding: 0px 0px 0px 5px;
            border: 1px solid #e8e8e8;
            background-color: #ffffff;
            font-family: "HelveticaNeue",arial,sans-serif;
            font-size: 12px;
            color: #006a52;
            text-decoration: none solid rgb(0, 106, 82);
            transition: all .3s;
        }
        li:hover{
            background-color:var(--dashboard-announcement-bg)
        }
    }
}
.mat-paginator-container {
    margin-top: 35px !important;
}



