<div class="mainContainer">
<div class="containerTitle">
<div class="icon-announcement_active">
</div>
<div class="announcementTitle" translate>
LBL_ANNOUNCEMENTS
</div>
</div>
<div class="announcementInfo" [@slideInOut]="carouselValue">
{{announcemnt}}
</div>
<div class="announcementInfo" [@slideInOut]="carouselValue">
{{announcemntContent}}
</div>
<div class="carouselBtnIndicators ">
    <div class="carouselLoopGrp">
    <div class="" *ngFor="let button of announcemntData?.DATA?.ALL_RECORDS; let i = index ">
<button type="button" class="carouselIndicators" (click)="carouselbtn(i)" [ngClass]="carouselValue == i ? 'carouselbg' : ''" ></button>
    </div>
</div>
    <div class="nexticon" (click)="announcementInfoInterval()"></div>
</div>
</div>
<app-ajax-loader-medium [hidden]="isLoadingCompelete"></app-ajax-loader-medium>