<div class="mtop_20 subconatiner">
  <div translate class="subTitles">LBL_USER_INFORMATION</div>
  <div class="mtop_20 mbot_4 innerContainer">
    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_USER_ID</div>
      <div class="mtop_10">
        <div>{{ userInformation.CIF }}</div>
      </div>
    </div>

    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_NAME_OF_THE_USER</div>
      <div class="mtop_10">
        <div>{{ userInformation.FIRST_NAME }}</div>
      </div>
    </div>

    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_E_TRADE_ID</div>
      <div class="mtop_10">
        <div>{{ userInformation.ETRADEID }}</div>
      </div>
    </div>

    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_PHONE_NUMBER</div>
      <div class="mtop_10">
        <div>{{ userInformation.MOBILE_NO }}</div>
      </div>
    </div>

    <div class="flexWidth">
      <div translate class="geneStaTitles">LBL_EMAIL_ADDRESS</div>
      <div class="mtop_10">
        <div>{{ userInformation.EMAIL_ID }}</div>
      </div>
    </div>
  </div>
</div>
