.mtop_20{
    margin-top: 20px;
}

.btnGroup {
    float: right;
    display: flex;
    margin-top: 30px;
}

.beneficiaryDetails{
    // padding: 22px 20px 0 0;
    padding: 78px 0 0 17px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #ffffff;
    background-size: cover;
    font-size: 12px;
    color: #5d5d5d;
    margin: 5px 20px 0px 30px;
    font-family: "HelveticaNeue";
}
.footer{
    padding-top: 40px;
    margin-left: -29px;
    float: left;
    .termsAndContion{
        padding-left: 33px;
        color: var(--tableData-header-color);;
        font-family: 'HelveticaNeue', arial, sans-serif;
        font-size: 14px;
    }
    .terms{
        margin-left: 2px;
        color: var(--short-profile-txt-color);
        font-family: 'HelveticaNeue', arial, sans-serif;
        font-size: 14px;
        text-decoration: none;
    }
    a{
       text-decoration: none; 
    }
}

.cancelButton{
    display: flex;
    justify-content:flex-end;
    margin-top: 25px;
}

.oneTimeFlex{
    display: flex;
    justify-content: flex-end;
}

.onetimepayment{
    position: absolute;
    margin-top: 29px;
    margin-right: 32px
}

.subContainer{
    border-radius: 6px;
    background-color: var(--primary-widget-bg-color);
    padding: 19px 20px 31px 20px ;
    border: 1px solid var(--widget-border-color);
    // margin-left: 15px;
}