.casaTable{
    table-layout: fixed;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 5px;
}
th.mat-header-cell{
    cursor: pointer;
}
    