<div>
    <div class="mTop_18">
      <div class="actionsConatiner">
          <div class="leftPannel">
              <div class="searchCntnrLeft" *ngIf="enabledProperty">
                  <app-search [showAdvanceSearch]="false" (childEvent)="triggerSearchFilter($event)"></app-search>
              </div>
          </div>
          <div>
              <div>
                  <app-refresh (onRefresh)="refreshSummary()"></app-refresh>
              </div>
          </div>
      </div>   
  </div>
    <div *ngIf="!norecordflag" id="announcementDefaultCntr">
  <table mat-table [dataSource]="dataSourceToPass" class="casaTable" *ngIf="responseHeader !== undefined">
  
    <ng-container matColumnDef="messages">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('WELCOMEMESSAGE')"><div class="position_rel" translate>LBL_MESSAGES
        
        <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'WELCOMEMESSAGE'">
        <img src="assets/images/sortDown.svg" class="img-style" >
        <img src="assets/images/sortDown.svg" class="sortUp">
      </span>
      <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'WELCOMEMESSAGE'">
        <img src="assets/images/sortDown.svg"
          *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'" class="img-style">
        <img src="assets/images/sortDown.svg"
          *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
          class="sortUpAscending">
      </span></div>
     </th>
      <td mat-cell *matCellDef="let element"><span *ngIf="element.WELCOMEMESSAGE">{{element.WELCOMEMESSAGE}}</span><span *ngIf="!element.WELCOMEMESSAGE"></span></td>
    </ng-container>
    <ng-container matColumnDef="datetime">
      <th mat-header-cell *matHeaderCellDef (click)="sortColumn('OD_MAKER_DATE')"><div class="position_rel" translate>LBL_DATETIME
        <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn !== 'OD_MAKER_DATE'">
          <img src="assets/images/sortDown.svg" class="img-style" >
          <img src="assets/images/sortDown.svg" class="sortUp">
        </span>
        <span *ngIf="responseHeader.sortColumn !== undefined && responseHeader.sortColumn === 'OD_MAKER_DATE'">
          <img src="assets/images/sortDown.svg"
            *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'desc'" class="img-style">
          <img src="assets/images/sortDown.svg"
            *ngIf="responseHeader.sortOrder !== undefined && responseHeader.sortOrder === 'asc'"
            class="sortUpAscending">
        </span>
      </div> </th>
      <td mat-cell *matCellDef="let element"> <span *ngIf="element.OD_MAKER_DATE">{{element.OD_MAKER_DATE |dateFormat}}</span><span *ngIf="!element.OD_MAKER_DATE">--</span> </td>
    </ng-container>   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <div *ngIf="norecordflag">
  <app-no-record-found [noRecordFoundInfo]="noRecordFoundInfoObj"></app-no-record-found>
  </div>
  <div *ngIf="!norecordflag">
  <app-pagination #paginator [dataSourceLength]="dataSourceLength" [currentRecord]="'Announcements'" [totalRecords]="totalRecords"  (onPaginationChange)="paginationChangeClick($event)" ></app-pagination>
</div>
  <!-- <mat-paginator *ngIf="!norecordflag" [length]="dataLength"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page" #paginator>
  </mat-paginator> -->
  </div>  

  <app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>
  
  