<!-- //////////////////////////////////////////////////////////////////////////////////////////SELECT ACCOUNT START//////////////////////////////////////////////////////////////////// -->
<div *ngIf="showAccSelect" class="outerContainer">
  <div class="title" translate>LBL_TRANSACTIONS</div>
  <div class="accountDetails">
    <div class="subTitles" translate>LBL_ACCOUNT</div>
    <app-search (childEvent)="triggerSearchFilter($event)"></app-search>
    <div>
      <table mat-table [dataSource]="dataSourceToPass" class="casaTable">
        <!-- OD_ACC_NO Column -->
        <ng-container matColumnDef="OD_ACC_NO">
          <th mat-header-cell *matHeaderCellDef translate>LBL_ACC_NUMBER</th>
          <td mat-cell *matCellDef="let element">
            {{ element.OD_ACC_NO ? element.OD_ACC_NO : "--" }}
          </td>
        </ng-container>

        <!-- nickName Column -->
        <ng-container matColumnDef="ALIAS_NAME">
          <th mat-header-cell *matHeaderCellDef translate>LBL_NICKNAME</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ALIAS_NAME ? element.ALIAS_NAME : "--" }}
          </td>
        </ng-container>

        <!-- OD_ACC_NAME Column -->
        <ng-container matColumnDef="OD_ACC_NAME">
          <th mat-header-cell *matHeaderCellDef translate>LBL_FULL_NAME</th>
          <td mat-cell *matCellDef="let element">
            {{ element.OD_ACC_NAME ? element.OD_ACC_NAME : "--" }}
          </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="STATUS">
          <th mat-header-cell *matHeaderCellDef translate>LBL_STATUS</th>
          <td mat-cell *matCellDef="let element">
            {{ element.STATUS ? element.STATUS : "--" }}
          </td>
        </ng-container>
        <!-- balance Column -->
        <ng-container matColumnDef="CURR_AVAIL_BAL_AMT">
          <th mat-header-cell *matHeaderCellDef translate>LBL_BALANCE</th>
          <td mat-cell *matCellDef="let element" class="balanceData">
            {{
              element?.CURR_AVAIL_BAL_AMT && element?.OD_CCY_CODE
                ? (element?.CURR_AVAIL_BAL_AMT
                    | currencyFormat : element.OD_CCY_CODE) +
                  " " +
                  element.OD_CCY_CODE
                : "--"
            }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="logSelection($event)"
          (click)="selection.toggle(row)"
        ></tr>
      </table>
    </div>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////SELECT ACCOUNT End//////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////////////////////View Account Start//////////////////////////////////////////////////////////////////// -->

<div *ngIf="showViewAcc" class="outerContainer">
  <div class="title" translate>LBL_TRANSACTIONS</div>
  <div class="accountDetails">
    <div class="subTitles" translate>LBL_ACCOUNT</div>
    <table>
      <tr class="tableHeader">
        <th translate>LBL_ACC_NUMBER</th>
        <th translate>LBL_NICK_NAME</th>
        <th translate>LBL_FULL_NAME</th>
        <th translate>LBL_STATUS</th>
        <th translate>LBL_BALANCE</th>
      </tr>
      <ng-container *ngFor="let data of selection.selected">
        <tr class="tableRowConatiner">
          <td>{{ data.OD_ACC_NO ? data.OD_ACC_NO : "--" }}</td>
          <td>{{ data.ALIAS_NAME ? data.ALIAS_NAME : "--" }}</td>
          <td>{{ data.OD_ACC_NAME ? data.OD_ACC_NAME : "--" }}</td>
          <td>{{ data.STATUS ? data.STATUS : "--" }}</td>
          <td>
            {{
              data?.CURR_AVAIL_BAL_AMT && data?.OD_CCY_CODE
                ? (data?.CURR_AVAIL_BAL_AMT
                    | currencyFormat : data.OD_CCY_CODE) +
                  " " +
                  data.OD_CCY_CODE
                : "--"
            }}
          </td>
          <td><div class="downArrowAcc" (click)="backToAcc($event)"></div></td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////View Account End//////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////SELECT merchant start//////////////////////////////////////////////////////////////////// -->

<div *ngIf="showMerchantSelect" class="outerContainer">
  <div class="accountDetails">
    <div class="subTitles" translate>LBL_SELECT_MERCHANT</div>
    <app-search (childEvent)="triggerSearchFilter2($event)"></app-search>
    <table mat-table [dataSource]="dataSourceToPass2">
      <!-- merchantNameInEnglish Column -->
      <ng-container matColumnDef="merchantNameInEnglish">
        <th mat-header-cell *matHeaderCellDef translate>LBL_MERCHANT_NAME</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.merchantNameInEnglish ? element.merchantNameInEnglish : "--"
          }}
        </td>
      </ng-container>

      <!-- merchantNameInArabic Column -->
      <ng-container matColumnDef="merchantNameInArabic">
        <th mat-header-cell *matHeaderCellDef translate>
          LBL_MERCHANT_NAME_ARABIC
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.merchantNameInArabic ? element.merchantNameInArabic : "--"
          }}
        </td>
      </ng-container>

      <!-- merchantNumber Column -->
      <ng-container matColumnDef="merchantNumber">
        <th mat-header-cell *matHeaderCellDef translate>LBL_MERCHANT_NUMBER</th>
        <td mat-cell *matCellDef="let element">
          {{ element.merchantNumber ? element.merchantNumber : "--" }}
        </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef translate>LBL_STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status ? element.status : "--" }}
        </td>
      </ng-container>
      <!-- shopEnglishName Column -->
      <ng-container matColumnDef="shopEnglishName">
        <th mat-header-cell *matHeaderCellDef translate>LBL_SHOP_NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.shopEnglishName ? element.shopEnglishName : "--" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns2"
        (click)="logSelectionMerchant($event)"
        (click)="selection2.toggle(row)"
      ></tr>
    </table>
  </div>
  <div class="actionGroup" *ngIf="showViewAcc">
    <app-tertiary-button
      buttonValue="LBL_CANCEL"
      (click)="backToAcc($event)"
      class="tertiaryBtn"
    >
    </app-tertiary-button>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////SELECT Merchant End//////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////////////////////View Merchant Start//////////////////////////////////////////////////////////////////// -->

<div *ngIf="showViewMerchant" class="outerContainer">
  <div class="accountDetails">
    <div class="subTitles" translate>LBL_SELECT_MERCHANT</div>
    <table>
      <tr class="tableHeader">
        <th translate>LBL_MERCHANT_NAME</th>
        <th translate>LBL_MERCHANT_NAME_ARABIC</th>
        <th translate>LBL_MERCHANT_NUMBER</th>
        <th translate>LBL_STATUS</th>
        <th translate>LBL_SHOP_NAME</th>
      </tr>
      <ng-container *ngFor="let data of selection2.selected">
        <tr class="tableRowConatiner">
          <td>
            {{ data.merchantNameInEnglish ? data.merchantNameInEnglish : "--" }}
          </td>
          <td>
            {{ data.merchantNameInArabic ? data.merchantNameInArabic : "--" }}
          </td>
          <td>{{ data.merchantNumber ? data.merchantNumber : "--" }}</td>
          <td>{{ data.status ? data.status : "--" }}</td>
          <td>{{ data.shopEnglishName ? data.shopEnglishName : "--" }}</td>
          <td><div class="downArrowAcc" (click)="backToAcc($event)"></div></td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////View Merchant End//////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////Select Terminal start//////////////////////////////////////////////////////////////////// -->
<div *ngIf="showTerminalSelect" class="outerContainer">
  <div class="accountDetails">
    <div class="subTitles" translate>LBL_SELECT_TERMINAL</div>
    <app-search (childEvent)="triggerSearchFilter3($event)"></app-search>
    <table mat-table [dataSource]="dataSourceToPass3">
      <!-- retailerId Column -->
      <ng-container matColumnDef="retailerId">
        <th mat-header-cell *matHeaderCellDef translate>LBL_TERMINAL_ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.retailerId ? element.retailerId : "--" }}
        </td>
      </ng-container>

      <!-- retailerName Column -->
      <ng-container matColumnDef="retailerName">
        <th mat-header-cell *matHeaderCellDef translate>LBL_TERMINAL_TYPE</th>
        <td mat-cell *matCellDef="let element">
          {{ element.retailerName ? element.retailerName : "--" }}
        </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef translate>LBL_STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status ? element.status : "--" }}
        </td>
      </ng-container>
      <!-- retailerAddress Column -->
      <ng-container matColumnDef="retailerAddress">
        <th mat-header-cell *matHeaderCellDef translate>LBL_TERMINAL_CITY</th>
        <td mat-cell *matCellDef="let element">
          {{ element.retailerAddress ? element.retailerAddress : "--" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns3"
        (click)="selection3.toggle(row)"
        (click)="logSelectionTerminal($event)"
      ></tr>
    </table>
  </div>
  <div class="actionGroup" *ngIf="showTerminalSelect">
    <app-tertiary-button
      buttonValue="LBL_CANCEL"
      (click)="backToMerchant($event)"
      class="tertiaryBtn"
    >
    </app-tertiary-button>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////View Terminal Start//////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////Transactions Start//////////////////////////////////////////////////////////////////// -->
