<div>
  <section>
    <app-sp-account-details></app-sp-account-details>
  </section>
  <section>
    <app-sp-upload-details></app-sp-upload-details>
  </section>
  <section class="summaryOuterConainer">
    <div class="summaryContainerForEditableRecordSummary">
      <app-editable-record-summary
        [recordSummaryReview]="false"
      ></app-editable-record-summary>
    </div>
  </section>
  <section class="summaryOuterConainer">
    <div class="summaryContainer">
      <app-work-flow
        [workFlowData]="workflowAndHistoryRequestPayload"
      ></app-work-flow>
    </div>
  </section>
  <section class="summaryOuterConainer">
    <div class="summaryContainer">
      <app-history
        [historyData]="workflowAndHistoryRequestPayload"
      ></app-history>
    </div>
  </section>
</div>
