.detailsTitleContainer{margin:-15px 0px -27px 30px;}
.summaryOuterConainer {
    .summaryConainer {
        border-radius: 10px;
        background: var(--primary-widget-bg-color);
        border: 1px solid var(--widget-border-color);
        margin-right:30px;
        margin-top: 20px;
        margin-left: 30px;
        padding-bottom: 15px !important;
    }
}
button:hover{background-color: var(--button-secondory-hover);}
.btnContainer{float: right;margin-top: 25px;padding-right: 30px;}
.button-print-secondary{height: 40px !important;}
.backButton{margin-right: 15px;width: 100px !important;}
.button-print-secondary:hover{
    background-color: var(--toggle-hover-bg-color);
}