// #cardsDefaultCntr{margin-bottom: 45px;}
table.mat-table{
    margin: 20px 14px 15px 14px;
    width: 97%;
    word-break: break-word;
}
td.mat-cell{border-bottom-style: none;border-bottom-width: 0px;}
th.mat-header-cell:last-of-type{width: 75px;}
tr.mat-row,tr.mat-header-row{height:40px;}
tr.mat-row:hover {background-color: var(--summary-hover-color);}
th.mat-header-cell{font-size: 14px;color:var(--table-header-color);border-bottom-style: none;}
td.mat-header-cell{font-size:14px;color: var(--tableData-header-color);}
.mat-row:nth-child(even){background-color: var(--secondary-btn-txt-color);cursor:pointer;}
.mat-row:nth-child(odd){background-color:var(--summary-row-bg-color);cursor:pointer;}
td:first-child {border-radius: 10px 0 0 10px;}
td:last-child{border-radius: 0 10px 10px 0;}
.accountsHeader{font-size: 16px;;color: var( --primary-fontColor);font-family: 'HelveticaNeueMed';}
.headerPanelWidth{width: 50%;}
div.header-panel,div.searchCntnr{margin: 20px 15px 0px 20px !important; display: flex;}
div.searchCntnr{justify-content: space-between;margin-top:0px !important;}
.header-panel-left,.searchCntnrLeft{float: left;}
.header-panel-right,.searchCntnrRight{float: right;}
.searchCntnrRightText{color: var(--secondary-btn-bg-color);position: relative;top: 10px;cursor:pointer;}
.viewBalance{color:var(--secondary-btn-bg-color)}
.hideAllBalance{color:var(--secondary-btn-bg-color);position: relative;top: 10px;right: 8px;font-family: 'HelveticaNeueMed';}
.img-style{
    padding-right: 0px;
   vertical-align: middle;
}
td.mat-cell:first-of-type,td.mat-cell,th.mat-header-cell:first-of-type,th.mat-header-cell{padding: 0px 0px 0px 5px;}
th.mat-header-cell:last-of-type{padding-right: 0px;}
.sortDown{background: url(/assets/images/sortDown.svg);}
.sortUp{transform: rotate(180deg)!important;position: relative;right: 18px;}
.sortUpAscending{transform: rotate(180deg)!important;vertical-align: middle;}
.expandCollapse{background: url(/assets/images/tableCollapseIcon.svg);width: 35px;height: 35px;float: right;top: -3px;position: relative;left: 148px;cursor:pointer;transition-property: transform;transition-duration: 0.4s;}
.expandCollapseInverted{background: url(/assets/images/tableCollapseIcon.svg);transform:rotate(180deg);width: 35px;height: 35px;float: right;top: -3px;position: relative;right:6px;cursor:pointer;transition-property: transform;transition-duration: 0.4s;}
.date-align{font-size: 11px;}
@media print {
    th img,.searchCntnrRightText,.actionHide{display: none;}
}
