<div class="mLeft_45 mainContainer" *ngIf="!hideAll">
  <div class="flexRow">
    <div translate class="title" *ngIf="!isProceed">
      LBL_BULK_PAYMENT
    </div>
    <div translate class="title" *ngIf="selectedDebitObj && isProceed">
      LBL_REVIEW
    </div>
  </div>
  <div class="subContainer marginLeft_0" *ngIf="!hideAll">
    <div class="payment_refund_toggle payment-top" *ngIf="!rootScopeData.sadadReset">
      <div translate class="subTitles" *ngIf="selectedDebitObj && !isProceed">
        LBL_SADAD
      </div>
      <div translate class="subTitles" *ngIf="selectedDebitObj && isProceed">
        LBL_SADAD
      </div>      
      <mat-button-toggle-group *ngIf="!selectedDebitObj && !rootScopeData.sadadReset">
        <mat-button-toggle *ngFor="let bulkpaymentType of entitelementData" disableRipple="true" #togglebtn1 (click)="bulkPaymentTab(bulkpaymentType.subPdtCode)"
          [ngClass]="isChecked == bulkpaymentType.subPdtCode ? 'hoverSelected' : 'baseSelected'">
          <span *ngIf="bulkpaymentType.subPdtCode==='SADPAYUP'" translate>LBL_SADAD</span>
          <span *ngIf="bulkpaymentType.subPdtCode==='SADMOIUP'" translate>LBL_MOI</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <app-debit-lookup *ngIf="debitDataObj" [debitAccDetails]="debitDataObj"
      (onAccountSelect)="getDisplayStatus($event, 'debitTo')" [shownsearch]="!selectedDebitObj" class="arrange removeBorder"
      [tableId]="'sadadMoi'"></app-debit-lookup>
  </div>
  <div class="subContainer marginLeft_0 pR" *ngIf="selectedDebitObj">
    <div *ngIf="!isProceed">
      <div class="subTitles subTitlesFileUpload" translate>LBL_FILE_UPLOAD</div>
      <div class="uploadContainer pR">
        <div class="upload-file">
          <app-file-upload *ngIf="selectedDebitObj" [uploadInput]="uploadInput"
            (titleCreated)="onFileAdded($event)" ></app-file-upload>
        </div>
        <div class="download-template">
          <app-download-template  [downloadTemplateData]="downloadTemplateData" *ngIf="selectedDebitObj"></app-download-template>
        </div>
      </div>
      <div class="validSec">
        <small class="errorMsg mr10 msgSize" translate
          *ngIf="fileTypeValidationErrorMessage">LBL_SADAD_BULK_PAYMENT_SUPPORTED_FILE_CSV</small>
          <small class="errorMsg mr10 msgSize" translate
          *ngIf="!fileTypeValidationErrorMessage && fileNameValidationErrorMessage">LBL_INVALID_FILE_NAME</small>
        <small class="errorMsg msgSize" translate
          *ngIf="!fileTypeValidationErrorMessage && !fileNameValidationErrorMessage && fileSizeValidationErrorMessage">LBL_SADAD_BULK_PAYMENT_SUPPORTED_FILE_SIZE</small>
      </div>

      <div class="noteText">
        <span translate>LBL_SADAD_NOTE</span>
      </div>
    </div>
    <div class=" submitSct" *ngIf="isProceed">
      <!-- <div class="uploadContainer">
        <div class="upload-file">
          <div class="upload-file-title"><span translate>LBL_FILE_UPLOAD</span></div>
        </div>
      </div> -->
      <div class="subTitles subTitlesFileUpload " translate>LBL_FILE_UPLOAD</div>
      <div class="uploadContainer pt0">
        <div class="upload-file">
          <div class="upload-file-title " ><span class="uploadTitle" translate>LBL_UPLOAD</span></div>
          <small class="errorMsg mr10" translate
      *ngIf="uploadFailed && !rejectReason">LBL_FILE_UPLOAD</small>
      <small class="errorMsg mr10 msgSize" *ngIf="uploadFailed && !rejectReason" translate>LBL_FAILED</small> 
      <small class="errorMsg mr10 msgSize" *ngIf="rejectReason">{{this.rejectReason}}</small>
        </div>
      </div>
      
      
      <!-- <div class="downloadFile maxWdTitle">
        <div class="downloadFile">{{ filename }}</div>
        <div class="downloadIcon"></div>
      </div> -->
      <app-uploaded-file-download *ngIf="!uploadFailed" [fileUploadedDetails]="fileUploadedDetails"></app-uploaded-file-download>
      <div class="tableInfo" id="fileInfo" *ngIf="!uploadFailed">
        <!-- <table class="mat-table cdk-table tableInfo casaTable fileSummary">
          <tr class="rowInnerCntr">
            <th class="mat-header-cell field cdk-header-cell chequesTitles cdk-column-nickName mat-column-nickName"
              *ngFor="let field of fileDetailsTableColumn" translate>
              {{ field }}
            </th>
            
          </tr>
          <tr class="rowInnerCntr">
            <td class="mat-cell field cdk-cell tableInfoFonts cdk-column-nickName mat-column-nickName">
              {{ totalRecords }}
            </td>
            <td class="mat-cell field cdk-cell tableInfoFonts cdk-column-nickName mat-column-nickName">
              {{ amount }} {{currencyCode}}
            </td>
            <td class="mat-cell field cdk-cell tableInfoFonts cdk-column-nickName mat-column-nickName">
              {{ numberOfRecord }}
            </td>
          </tr>
        </table> -->

        <div class="row sadadSuccessUpload">
          <div class="column" >
            <div translate class="geneStaTitles" >LBL_TOTAL_RECAORDS</div>
            <div class="plainText">{{totalRecords}}</div>
          </div>
          <div class="column" >
            <div translate class="geneStaTitles" >LBL_SUCCESSFUL_RECORDS</div>
            <div class="plainText">{{numberOfRecord}}</div>
          </div>
          <div class="column" >
            <div translate class="geneStaTitles" >LBL_FAILED_RECORDS</div>
            <div class="plainText">{{numberOfFailedRecord}}</div>
          </div>
          <div class="column mTop_18" >
            <div translate class="geneStaTitles" >LBL_TOTAL_AMOUNT</div>
            <div class="plainText">{{ amount }} {{currencyCode}}</div>
          </div>
        </div>
      </div> 
      <div *ngIf="balanceValidation" class="errorMsg msgSize errorMsgBottomMargin" translate>LBL_AMOUNT_SHOULD_BE_LESS_THAN_DEBIT_AMOUNT</div>     
    </div>
    <app-ajax-loader-medium *ngIf="isProceed" [hidden]="isLoadingCompeleteMedium"></app-ajax-loader-medium> 
  </div>
  

  <div class="mTop_18">
    <app-record-summary
      *ngIf="isProceed && showRecordSummary"
      (sortColumnEmit)="onSortColumn($event)"
      [moduleId]="moduleId"
      [sortOptions]="sortOptions"
      [recordSummaryObject]="recordSummaryObject"
    ></app-record-summary>
    <div class="makePayment" *ngIf="isChecked == 'SADPAYUP' && !hideAll">
      <div>
        <!-- <app-authorization class="arrange" *ngIf="isProceed && isAuthorizationSct" [authListDataSource]="authOptions"
        (authEmit)="setAuthorDetails($event)" (authData)="getDisplayStatus($event, 'authorization')"></app-authorization>
        <app-authentication class="arrange" *ngIf="isProceed && isAuthorizationSct" (onTwoAuthClick)="onSecondFactorValue($event)"
          (getOtpClick)="getOtpValue($event)" [otpError]="otpError" [initParam]="initReqParam"></app-authentication>
           -->
        <app-authorization class="arrange" *ngIf="isProceed && showAuthorization" [authListDataSource]="authOptions"
        (authEmit)="setAuthorDetails($event)" (authData)="getDisplayStatus($event, 'authorization')"></app-authorization>
        <app-authentication class="arrange" *ngIf="isProceed && showAuthentication" (onTwoAuthClick)="onSecondFactorValue($event)"
          (getOtpClick)="getOtpValue($event)" [otpError]="otpError" [initParam]="initReqParam" (authenticationType)="getAuthType($event)"></app-authentication>
          
       </div>
    </div>
  </div>
  <div class="refundRequest" *ngIf="!hideAll">
    <div class="footerText" translate *ngIf="isProceed && !rootScopeData.sadadReset && isProceedFileStatusCode">
      LBL_TERMS
      <a href="{{termsConditionUrl}}" target="_blank" ><span class="termsContainer" translate>LBL_THE_TERMS_AND_CONDITIONS</span></a>  
    </div>
    <div class="actionGroup">
      <app-tertiary-button buttonValue="LBL_CANCEL" class="tertiaryBtn" *ngIf="selectedDebitObj" (click)="reset()">
      </app-tertiary-button>
      <app-primary-button *ngIf="selectedDebitObj && !isProceed && proceedBtnShow" buttonValue="LBL_PROCEED"
        (click)="proceedNext()" routerPath="./">
      </app-primary-button>
      <!-- <app-primary-button *ngIf="isProceed && !rootScopeData.sadadReset && isProceedFileStatusCode" buttonValue="LBL_SUBMIT" (click)="onSubmit()"
        routerPath="./">
      </app-primary-button> -->
    </div>
  </div>
</div>
<app-ajax-loader [hidden]="isLoadingCompelete"></app-ajax-loader>
<app-receipt [receiptDetails]="receiptData" [saveReceiptObject]="saveReceiptObject" (onInitAgainClick)="makeAnotherPayment()" (DownloadReceiptClick)="downloadPdf($event)" *ngIf="hideAll"></app-receipt>