<div>
    <div class="subContainer">
    <div class="subTitles" translate>LBL_ACCOUNT</div>
    <div class="mtop_10" *ngIf="!isProceed">
        <app-search (childEvent)="triggerSearchFilter($event)"></app-search>
    </div>
    <div>
        <table mat-table [dataSource]="!isProceed?dataSource:dummySource" class="tableInfo casaTable" [ngClass]="isProceed ?'checkedToRead':''"
          id="accountsData">
          <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef translate class="checkData">
                <mat-checkbox (change)="selectAll($event)" [ngClass]="!isProceed  ? '' : 'hide'" [checked]="IS_ALL_SELECTED"></mat-checkbox>
            </th>
  
            <td mat-cell *matCellDef="let element; let i = index" class="checkData">
              <mat-checkbox [ngClass]="!isProceed  ? 'checkBoxPrimary' : 'hide'" [checked]="element.IS_SELECTED"
                (change)="checked(element,i)"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="accNo">
            <th mat-header-cell *matHeaderCellDef translate class="chequesTitles">
              LBL_ACC_NUMBER
            </th>
            <td mat-cell *matCellDef="let element" class="tableInfoFonts">
                <div *ngIf="!isProceed || (dummySource.length===1 && !element.IS_DUMMY)">{{ element.OD_ACC_NO }}</div>
                <div *ngIf="isProceed && element.IS_DUMMY" translate>LBL_MULTIPLE_ACCOUNT_SELECTED</div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="nickName">
            <th mat-header-cell *matHeaderCellDef translate class="chequesTitles">
              LBL_NICKNAME
            </th>
            <td mat-cell *matCellDef="let element" class="tableInfoFonts">
                <div *ngIf="!isProceed || dummySource.length===1">{{ element.ALIAS_NAME }}</div>
                <div *ngIf="isProceed" translate></div>
              
            </td>
          </ng-container>
  
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef translate class="chequesTitles">
              LBL_FULL_NAME
            </th>
            <td mat-cell *matCellDef="let element" class="tableInfoFonts">
                <div *ngIf="!isProceed || dummySource.length===1"> {{ element.OD_ACC_NAME }}</div>
                <div *ngIf="isProceed" translate></div>
             
            </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef translate class="chequesTitles">
              LBL_STATUS
            </th>
            <td mat-cell *matCellDef="let element" class="tableInfoFonts">
                <div *ngIf="!isProceed || dummySource.length===1"> {{ element.STATUS }}</div>
                <div *ngIf="isProceed" translate></div>
             
            </td>
          </ng-container>
  
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef translate class="chequesTitles">
              LBL_BALANCE
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="tableInfoFonts">
                <div *ngIf="!isProceed || dummySource.length===1">{{element.CURR_AVAIL_BAL_AMT }} {{element.OD_CCY_CODE}}</div>
                <div *ngIf="isProceed" translate></div>
              
            </td>
            
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef translate class="chequesTitles">
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="tableInfoFonts">
                <div  class="arrowRotate downArrow" (click)="reset('iconClick')" ></div>
            </td>
            
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" [ngClass]="{ selected: dataSource[i].IS_SELECTED || (dummySource && dummySource.length>0 && dummySource[i].IS_SELECTED) }"></tr>
        </table> 
    </div>
    </div>
    <div class="btnGroup" *ngIf="!isProceed">
        <app-primary-button  buttonValue="LBL_PROCEED" (click)="proceedNext()"></app-primary-button>
    </div>
</div>