#creditCardPaymentLayout {
    .title {
        width: 215px;
        height: 30px;
        padding: 0px 0px 0px 5px;
        background-size: cover;
        font-size: 18px;
        color: var(--tableData-header-color);
        margin: 5px 0px 0px 25px;
        font-family: 'HelveticaNeueMed', arial, sans-serif;
    }

    .subContainer {
        border-radius: 6px;
        background-color: var(--primary-widget-bg-color);
        padding: 19px 20px 31px 20px;
        border: 1px solid var(--widget-border-color);
        margin: 0 25px 0 25px;
    }

    .subTitles {
        font-size: 16px;
        font-family: "HelveticaNeueMed", arial, sans-serif;
        color: var(--tableData-header-color);
    }

    .toggleContainer {

        mat-button-toggle-group {
            width: 800px;
            height: 40px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0 1px;
            margin-top: 20px;
        }

        mat-button-toggle {
            font-size: 14px;
            font-family: "HelveticaNeueMed", arial, sans-serif;
            width: 300px;
            transition: all .3s;
        }
    }

    .hoverSelected {
        background-color: var(--short-profile-txt-color);
        color: var(--promotions-fontColor);
    }

    .baseSelected:hover {
        background-color: var(--toggle-hover-bg-color)
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
        border-left: solid 1px var(--widget-border-color);
    }

    .mat-button-toggle-group-appearance-standard {
        border: solid 1px var(--widget-border-color);
    }

    .baseSelected {
        background-color: var(--toggle-base-color);
        color: var(--tableData-header-color);
    }

    .information {
        position: relative;
        height: 40px;
        padding: 0px 8px;
        border: 1px solid var(--widget-border-color);
        background-color: var(--primary-widget-bg-color);
        border-radius: 4px;
        background-size: cover;
        font-family: "HelveticaNeue";
        font-size: 14px;
        color: var(--tableData-header-color);
        width: 300px;

        &.data {
            padding-top: 20px;
        }

        .currency {
            position: relative;
            top: 12px;
            left: 7px;
        }
    }

    .limitText {
        position: relative;
        width: 88%;
        height: 30px;
        padding: 0px 0px;
        float: left;
        left: 0;
        top: 5px;
        border: 1px solid var(--static-white);
        font-family: "HelveticaNeue";
        font-size: 14px;
        color: var(--tableData-header-color);
    }

    textarea[type="text"] {
        border: 1px solid var(--widget-border-color);
        border-radius: 4px;
        font-size: 14px;
        color: var(--tableData-header-color);
        font-family: "HelveticaNeue";
        outline: none;
    }

    .topContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dailyLimitContainer {
        margin-right: 13px;
    }

    .creditListContainer {
        margin-top: 25px;
    }

    .toggleContainer {
        margin: 25px 25px 0px 25px;
    }

    .removeBorderFromData,
    .removeBorderCreditCard {
        app-debit-lookup {
            .subContainer {
                border: none;
                padding: 19px 0px 0px 0;
            }
        }
    }

    .creditCardPaymentLayout {
        padding: 19px 20px 31px 20px;
        margin: 15px 25px 0 25px;
        border: 1px solid var(--widget-border-color);
        border-radius: 10px;
        background-color: var(--primary-widget-bg-color);
        background-size: cover;
        font-size: 14px;
        color: var(--tableData-header-color);

        .sub {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .rowInnerCntr {
        display: flex;
        flex-wrap: wrap;
        padding-left: 11px;
        padding-top: 21px;

        .field {
            width: 33.33%;
            padding-bottom: 10px;

            &.field-bottom {
                padding-bottom: 5px;
            }

            .label {
                font-family: "HelveticaNeueMed", arial, sans-serif;
                color: var(--table-header-color);
                font-size: 14px;
            }

            .information1 {
                padding-top: 10px;
                color: var(--tableData-header-color);

                &.data {
                    padding-top: 20px;
                }
            }
        }
    }

    .footer {
        margin: 36px 30px 0 46px;

        .termsAndConditions {
            position: absolute;
            color: var(--tableData-header-color);
            font-size: 14px;
            font-family: 'HelveticaNeue', arial, sans-serif;

            a {
                color: var(--short-profile-txt-color);
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .finalProceed {
            position: relative;
            float: right;
            bottom: 10px;
            left: 5px;
        }
    }

    .btnGroup {
        float: right;
        display: flex;
        margin-right: 20px;
    }

    .mtop_20 {
        margin-top: 20px;
    }

    .commonContainer {
        margin: 15px 25px 0 25px;
    }

    .commentTextarea {
        margin-top: 10px !important;

        textarea {
            background-color: var(--primary-widget-bg-color);
            color: var(--default-text-color);
        }
    }

    .pad_t_20 {
        padding-top: 20px;
    }
}